[2018-02-11 05:05] #245 closed

[2018-02-11 05:06] #490 closed

[2018-02-11 05:08] andrewsmedina commented on #399
Splinter don't do the addition request to get `status_code` data. So I believe that this issue is fixed.

[2018-02-11 05:08] #399 closed

[2018-02-20 01:37] bmcculley commented on #586
I like the idea, the only downside that I can think of from using browsermob is that it would require more dependencies on the system.

Is there a pure python proxy that could be used?

[2018-02-21 21:56] jgeorgeson commented on #568
I'm trying to follow the quick tutorial and I it's launching the full firefox GUI and it never gets past the `Browser()` call. I tried the `headless=True` that @haroldrandom mentioned and also the `MOZ_HEADLESS` variable like in the initial issue description here and neither works. I have v0.7.7 installed, have tried with both Python 2.7.5 and Python 3.6.3 (the versions packaged in CentOS/EPEL 7).

[2018-02-21 22:46] jgeorgeson commented on #568
This may due to installed firefox version. Looks like headless requires v55 and CentOS 7 only has 52.

[2018-02-22 17:16] jacebrowning opened #588 "How can I click a link with target="_blank"?"
Calling `.click()` on an element with `target="_blank"` causes a new window to open that is not under the control of Splinter. Is there any way I can force these links to open in the same window?

[2018-02-22 17:22] jacebrowning commented on #588
Right now my workaround is to call this before finding links:

[code]

[2018-02-26 21:47] jgeorgeson opened #589 "Is Zope only supported in Python 2?"
I'm seeing an exception using `Browser('zope.testbrowser')`

[code]

And see the sys.version_info check [here](https://github.com/cobrateam/splinter/blob/2eec5aa844f743ad3dd4ffc4a17070f5a5b7d9b5/splinter/browser.py#L25)

[code]

[2018-03-02 22:37] me21 commented on #540
[code]

Do not pass "Default" at the end of user data dir.

[2018-03-06 22:43] WillyWinkel commented on #174
This is old and still open. I face the same issue. Are there any common workarounds or are you guys just don't get this error. If its the secondary, why am I getting it?

[2018-03-06 22:46] WillyWinkel commented on #174
I am facing this issue. Is there a common workaround?

[2018-03-07 00:21] WillyWinkel commented on #174
i noticed that calling `click()` twice solves the issue. First one throws, but scrolls so that the button is within the visible frame. Second one actually clicks.

[2018-03-07 06:01] WillyWinkel commented on #477
about two years ago and no answer at all?

[2018-03-08 19:54] rahul6612 commented on #525
try this

[2018-03-08 23:55] samboy opened #591 "_element should become part of the official API (allows Selenium calls)"
Let's look at some code similar to something I write using Splinter:

[code]

The point being, I'm using _element to access a method in the underlying Selenium that Splinter does not appear to support.

We should make this part of the official API: If you want to do something with an element and Splinter does not support it, use _element to make the required Selenium call. This way, already writte

[2018-03-09 01:34] andrewsmedina commented on #477
You can do it in the same way that it is done in selenium. Something like:

[code]

[2018-03-11 19:50] andrewsmedina opened #592 "remove phantomjs support"
With chrome and firefox headless phantom is not needed anymore. Selenium has removed phantom too

[2018-03-11 19:52] andrewsmedina commented on #279
With chrome and firefox headless the phantom will be removed from splinter

[2018-03-11 19:52] #279 closed

[2018-03-11 20:01] #566 closed

[2018-03-11 20:01] #372 closed

[2018-03-11 20:01] #53 closed

[2018-03-19 11:14] axiaoxin opened #593 "Is there a way to set the multiple-automatic-downloads options?"
Is there a way to set the multiple-automatic-downloads options when download multiple files on the same time?

[2018-03-19 11:29] #593 closed

[2018-03-20 18:20] craigmi commented on #586
You could always enable performance logs and parse the log to get the status code

in the capabilities dict

`capabilities['loggingPrefs'] = {'performance': 'ALL'}`

chrome options

`chrome_options.add_experimental_option('perfLoggingPrefs', {"enablePage": True})`

`def parse_chromedriver_status_code():
    """
    Parses status code from ChromeDriver performance logs.
    """
    from json import

[2018-03-21 07:23] sureshvv opened #594 "django driver does not implement get_alert"
Is this possible to do for javascript testing?

[2018-03-22 08:15] sureshvv opened #595 "splinter 0.7.7 breaks 0.7.5 functionality"
It seems buttons HAVE to be inside forms in 0.7.7.

Otherwise I get:

[code]

[2018-03-22 08:18] sureshvv commented on #594
Better to use Django StaticLiveServerTestCase for javascript testing.

[2018-03-22 08:18] #594 closed

[2018-03-22 16:44] andrewsmedina commented on #595
it looks like a bug. I will try to reproduce it

[2018-03-26 19:08] andrewsmedina opened #597 "the road to splinter 1.0"
#  the road to splinter 1.0

splinter has 8 years but it's still in a minor version. :(

This issue is a way to share a plan with all everyone that uses and contributes with splinter to make the
1.0 release and start following the [semantic versioning](https://semver.org/) afterwards.

The idea is to stabilize the API on 1.0 version keeping the python 2 and 3 support and drop python 2 support on 2

[2018-03-27 22:32] #358 closed

[2018-03-28 17:57] j7an commented on #597
It would be great if we can implement the following for 1.0:
1. Get headless mode working on remote webdriver.
2. Support mouse actions on remote webdriver. I've already verified ActionChains works on remote webdriver for Firefox with Selenium's API, but Splinter's mouse actions errors that its not supported.
3. Some times `is_text_present()` doesn't detect the text even when timeout is set (e.g.

[2018-03-29 03:38] andrewsmedina commented on #597
@j7an these are great feature. Can you create issues for these features?

I believe that this feature will not break the Splinter API. So we can release them as 1.x releases.

What do you think about it?

[2018-04-02 01:14] andrewsmedina opened #598 "a deprecation warning for phantomjs"
Following the plan for 1.0 (https://github.com/cobrateam/splinter/issues/597) we should add a deprecation warning for phantomjs.

[2018-04-03 11:25] strichter opened #599 "DeprecationWarning: use options instead of chrome_options"
There is a deprecation warning that gets raised every time the Chrome backend is used.

This is because `splinter/driver/webdriver/chrome.py` (line 35) uses `chrome_options` instead of `options`. It is literally a 7 character fix to use `options` instead, since this is what the underlying selenium code does.

[2018-04-03 11:32] strichter commented on #599
Seems to be resolved in master. When will there be a new release?

[2018-04-03 11:33] #599 closed

[2018-04-05 01:48] andrewsmedina commented on #599
0.8 will be released soon. In this or the next week

[2018-04-06 00:30] strichter commented on #599
@andrewsmedina Thanks for the update. (There are other goodies in master that seem useful.)

[2018-04-06 07:51] StabbarN opened #600 "Is It Time for a New Stable Release?"
I'm happy to see a roadmap for 1.0 (#597) but I'm also longing for a stable release with version 0.8.0 or 0.7.7. 29 commits in master since 0.7.6.

[2018-04-06 21:25] andrewsmedina commented on #600
Hi @StabbarN 0.8 will be released soon. In this or the next week

[2018-04-16 01:41] j7an opened #602 "Headless mode in remote webdriver"
Not sure if its possible, but it would be great if we can look into getting headless mode working via remote webdriver.

Referencing discussion on https://github.com/cobrateam/splinter/issues/597#issuecomment-377111031

[2018-04-16 01:46] j7an opened #603 "Action Chains in Remote Webdriver"
Currently when trying to use action chains (e.g. mouse actions) with remote webdriver, I get an error that it is not supported (e.g. Firefox). I have verified if I use Selenium API directly with remote webdriver for action chains the mouse actions work.

We should look into getting this resolved.

Referencing discussion here https://github.com/cobrateam/splinter/issues/597#issuecomment-377111031

[2018-04-16 01:55] j7an opened #604 "Update detection and interaction code to use Selenium's API"
I've noticed the detection / interaction code of Splinter doesn't always work as expected even with timeouts set. We should try to use Selenium's API (Explicit Wait & Expected Condition) as much as possible for all detections and interactions since Selenium is updated frequently e.g.

[code]

https://youtu.be/Ap4lmIiCCnk

Referencing discussion here https://github.com/cobrateam/splinter/issues/597

[2018-04-17 12:29] Incanus3 opened #605 "Support Django 2.0 test client as backend"
Hi,
we've recently migrated to Django 2.0. Now I wanted to create a high-level test using splinter with django backend, but found out, that I can't even install splinter[django], since it depends on django<1.12. Is there something I can do to support Django 2.0?

[2018-04-18 00:29] andrewsmedina commented on #605
We should add the support for Django 2.0

[2018-04-21 15:56] jaraco commented on #541
In the meantime, is a workaround available?

[2018-04-24 15:49] eggnita opened #606 "Chrome --no-sandbox flag"
It seems that in the latest versions of Chrome you cannot start without --no-sandbox flag in environments like Docker. This issue appears in other common CI tools like travis (which already got an updated  chrome version in the build environment images)
You can see more details [here](https://github.com/karma-runner/karma-chrome-launcher/issues/158)
I can PR this if needed.
The place where this op

[2018-04-25 20:47] andrewsmedina commented on #606
I believe that we should merge #345

[2018-04-26 09:52] eggnita commented on #606
@andrewsmedina can I help with the merge? or do you have any idea when that can be merged? Because it seems that the removal of the headless param and the addition of the chrome_options will introduce some breaking changes. What are your thoughts regarding this?

[2018-04-26 12:14] andrewsmedina commented on #606
The PR #345 needs tests. I would be nice if you can help adding tests for this pr.

[2018-04-28 09:38] Qqwy opened #608 "Finding partial text"
It is very common that you want to look for a snippet of text, rather than a text element that as a whole contains exactly what you look for; like when looking for a username on a page.

The current `browser.is_text_present` however only matches a text element 1:1. (and the documentation about this is not very clear that this is what is going on).

So if we have

[code]

Then `browser.is_text_pres

[2018-05-02 01:38] andrewsmedina commented on #120
after the https://github.com/cobrateam/splinter/commit/2e5135460610149a1082b2aaca61fffc10beae40 in `0.8` the drivers based on webdriver will `raise NotImplementedError` in `status_code`

[2018-05-02 01:38] #120 closed

[2018-05-02 01:38] andrewsmedina commented on #109
after the https://github.com/cobrateam/splinter/commit/2e5135460610149a1082b2aaca61fffc10beae40 in `0.8` the drivers based on webdriver will `raise NotImplementedError` in `status_code`

[2018-05-02 01:38] #109 closed

[2018-05-02 01:38] andrewsmedina commented on #509
after the https://github.com/cobrateam/splinter/commit/2e5135460610149a1082b2aaca61fffc10beae40 in `0.8` the drivers based on webdriver will `raise NotImplementedError` in `status_code`

[2018-05-02 01:38] #509 closed

[2018-05-02 01:38] andrewsmedina commented on #247
after the https://github.com/cobrateam/splinter/commit/2e5135460610149a1082b2aaca61fffc10beae40 in `0.8` the drivers based on webdriver will `raise NotImplementedError` in `status_code`

[2018-05-02 01:38] #247 closed

[2018-05-02 01:39] andrewsmedina commented on #244
after the https://github.com/cobrateam/splinter/commit/2e5135460610149a1082b2aaca61fffc10beae40 in `0.8` the drivers based on webdriver will `raise NotImplementedError` in `status_code`

[2018-05-02 01:39] #244 closed

[2018-05-02 01:39] andrewsmedina commented on #241
after the https://github.com/cobrateam/splinter/commit/2e5135460610149a1082b2aaca61fffc10beae40 in `0.8` the drivers based on webdriver will `raise NotImplementedError` in `status_code`

[2018-05-02 01:39] #241 closed

[2018-05-03 16:55] smhall05 opened #609 "splinter 0.8.0 throws NotImplementedError for browser.status_code.code"
splinter version 0.8.0
python version 2.7.6

When using a check for 200 on a successful page access:

 I am seeing, this worked in version 0.7.7:

Repro steps:

`
ubuntu@ip-xxxxxxx:~$ python
Python 2.7.6 (default, Oct 26 2016, 20:30:19)
[GCC 4.8.4] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <modu

[2018-05-03 17:12] andrewsmedina commented on #609
hi @smhall05 this is not a bug this is a behaviour.

some drivers does not return the status code after `visit` a page. Before 0.8.0 the splinter always returned `200` in these cases. But this is a false positive.

In 0.8.0 we changed this behaviour. Instead to do a fake return splinter raises the proper error showing that this feature was not implemented.

[2018-05-03 17:16] smhall05 commented on #609
@andrewsmedina What is the best way then to confirm I have accessed a page successfully?

[2018-05-04 08:13] yannlm1 opened #610 "javascript:void(0) - issue to click on menu"
Splinter version 0.7.7
Python version 2.7.5

Hello All,

I'm struggling for clicking on this menu as below:

`<a class="buttons" id="STR_TOPNAV_REMOTE_CONTROL" href="javascript:void(0)" lnavobj="RMCNTRL_LEFTNAV">Remote Control</a>`

I also tried by class, Xpath, by ID with no luck, would you have any suggestion?

Thanks

[2018-05-04 17:39] sureshvv commented on #595
The html:

[bug.zip](https://github.com/cobrateam/splinter/files/1975367/bug.zip)

The code:

          from splinter import Browser
          browser = Browser('django')
          browser.visit('/login')
          browser.find_by_id('user-email').fill('jacob')
          browser.fill('password', 'top_secret')
          browser.find_by_name('login').click()

[2018-05-04 18:06] andrewsmedina commented on #610
@yannlm1 what driver are you using and how are you trying? I believe that `browser.find_by_id("STR_TOPNAV_REMOTE_CONTROL").click()" should works.

[2018-05-04 18:22] #609 closed, assigned to nobody

[2018-05-07 12:49] yannlm1 commented on #610
Hello,

I'm using geckodriver 0.20.0, with firefox version 59.0.2, I also tried by id, but didn't find the element as below:

[code]

Here my code
[code]

[2018-05-07 17:45] andrewsmedina commented on #610
In this example the use of `first` is not necessary. splinter aways will try to do an action in the first element if no one is specified. So you can replace `browser.find_by_id("LOGIN_VALUE_1").first.click()` by `browser.find_by_id("LOGIN_VALUE_1").click()`

[2018-05-08 06:52] yannlm1 commented on #610
Thanks,
So I tried with is_element_present
`browser.is_element_present_by_id("STR_TOPNAV_REMOTE_CONTROL", wait_time=10)`
I kept after
`browser.find_by_id("STR_TOPNAV_REMOTE_CONTROL").first.click()`

Result:
`splinter.exceptions.ElementDoesNotExist: no elements could be found with id "STR_TOPNAV_REMOTE_CONTROL"`

[2018-05-08 14:39] andrewsmedina commented on #610
@yannlm1 are you sure that the `STR_TOPNAV_REMOTE_CONTROL` element is present after login?

[2018-05-08 15:11] yannlm1 commented on #610
As below, it's looks like, I need to put the focus (mouse) on the menu tab, and then it's highlighted.
How can I do this with splinter?
![remote control](https://user-images.githubusercontent.com/38974785/39765514-4c0d9614-52e2-11e8-9d8e-44bfe4380a49.png)

I tried to leave just browser.is_element_present_by_id("STR_TOPNAV_REMOTE_CONTROL", wait_time=10), and remove browser.find_by_id, I don't any o

[2018-05-09 17:44] fx86 commented on #583
For doing this in Chrome, I opened chrome.py from the splinter directory under site-packages.

Then I added these lines after `options = ...` to make it appear like -

[code]
That seems to be working for me.

[2018-05-09 19:01] andrewsmedina commented on #610
You should use `get_iframe` to manipulated elements inside a frame: http://splinter.readthedocs.io/en/latest/iframes-and-alerts.html#using-iframes

[2018-05-13 15:00] jaraco opened #612 "element.find_by_text searches whole dom"
When trying to do a contextual search for text, the result returned includes all matching text for the whole DOM instead of just those nodes that are children of the contextual node.

[2018-05-13 15:06] jaraco commented on #612
I believe the issue lies here https://github.com/cobrateam/splinter/blob/master/splinter/driver/webdriver/__init__.py#L407.

The `//*` means all nodes in dom. It should be `.//*` to mean all child nodes.

[2018-05-13 19:41] #574 closed

[2018-05-14 15:27] andrewsmedina commented on #612
@jaraco this line is the `browser.find_by_text` and in this case the code is right. I believe that the bug is here in the `element.find_by_text`: https://github.com/cobrateam/splinter/blob/ed21fb5495965d265bd5bd3e95b0dfb7121da7c2/splinter/driver/webdriver/__init__.py#L618

[2018-05-14 20:52] StabbarN commented on #600
Thanks for releasing 0.8.0!

[2018-05-14 20:52] #600 closed

[2018-05-25 11:35] jaraco commented on #612
Yes. That makes sense.

[2018-05-25 12:30] jacebrowning commented on #480
Additionally, [these docs](https://github.com/cobrateam/splinter/blob/master/docs/http-status-code-and-exception.rst) say you can handle `HttpResponseError`, but that's not part of `splinter.exceptions`.

[2018-05-25 20:52] ARudiuk opened #613 "Find by xpath failing"
When I use find by xpath it works on most sites, but when I try to grab one of the department links on this site: https://medicine.dal.ca/departments.html
I fail to grab the links by their xpath. Here is some code where I get an empty array:

[code]
Am i missing something? Or is this a bug.

[2018-05-28 14:07] andrewsmedina commented on #480
This http error handling was removed in splinter 0.8. I will close this and create another issue to update the docs

[2018-05-28 14:08] andrewsmedina opened #614 "update the docs about http error handling"
in 0.8 the http error handling was removed from splinter.

the docs about it should be updated or removed: https://github.com/cobrateam/splinter/blob/master/docs/http-status-code-and-exception.rst

[2018-05-28 15:00] yannlm1 commented on #610
Hello Andrew,

Could you please have a look to my question?

Thanks.

[2018-05-28 16:36] andrewsmedina commented on #610
I don't know how to do it :(

[2018-05-29 13:47] yannlm1 commented on #610
In fact when I'm doing it with iframe, and I click on Open With (jviewer.jnlp), it's failing.
As below the logs from geckodriver:
`
INFO: >>> JWS: parsed jnlp after 99ms; jnlp=/tmp/mozilla_ylemouel0/jviewer-1.jnlp
INFO: extracted 2 native libs from Linux_x86_64.jar
INFO: >>> JWS: checked and (if necessary) deployed jars after 397ms: to directory /local/java.users/ylemouel/.java/deployment/cache/jw

[2018-05-30 11:58] itereshchuk commented on #558
same for selenium and chrome webdriver

[2018-05-30 13:19] #595 closed

[2018-06-05 07:11] lowe0506 commented on #558
I have the same issue too

[2018-06-05 07:15] itereshchuk commented on #558
https://bugs.chromium.org/p/chromedriver/issues/detail?id=2440#c2

[2018-06-07 04:12] #613 closed

[2018-06-18 12:39] Wooden-Robot opened #616 "Add full screenshot and element screenshot"
I have wrote these code already.And I want to know which place is suitable for its document.
Is it suitable to write to `screenshot.rst`, and add `screenshot.rst` to `index.rst`?

[2018-06-18 16:18] andrewsmedina commented on #616
you can create a `screenshot.rst`

[2018-06-20 09:48] #616 closed

[2018-06-25 07:08] CXTV opened #618 "how to use drag_and_drop_by_offset"

[2018-07-02 20:11] jacebrowning commented on #222
This also seems to affect methods that use xpath under the hood.

On my site, there are three "Sign Up" buttons on a particular page:

[code]

But only one of the buttons is inside the `login-form` div, yet they are all returned:

[code]

[2018-07-07 04:36] chrisyangi opened #620 "How can i use select function without name?"
Below is the splinter docs

def select(self, name, value):
        """
        Selects an ``<option>`` element in an ``<select>`` element using the ``name`` of the ``<select>`` and
        the ``value`` of the ``<option>``.

        Example:

        """
        raise NotImplementedError(
            "%s doesn't support selecting options in 'select' element." % self.driver_name)

Now i wanna know

[2018-07-07 16:53] andrewsmedina commented on #620
You can find the `select` element by id, tag, css and them `select` the option:

[code]

More refs here: https://splinter.readthedocs.io/en/latest/api/driver-and-element-api.html?highlight=select#splinter.driver.ElementAPI.select

[2018-07-12 21:31] bhoomeendra opened #621 "How to i fill a text lable with following text 'LT-CS-01/17'"
I want to fill a text input with 'LT-CS-01/17' this is the code that i used
[code]
and what it does is that it ignore hypen and slash how do i get over this problem

[2018-07-16 16:18] MarcusMann commented on #234
Please, close the issue. That problem is now solved. @andrewsmedina

[2018-07-16 16:24] MarcusMann commented on #436
The page is not exists. Please update the issue with correct value.

[2018-07-16 16:37] #234 closed

[2018-07-16 16:41] andrewsmedina commented on #436
I have update the selenium reference link above to http://selenium-python.readthedocs.io/api.html#selenium.webdriver.remote.webdriver.WebDriver.execute_script

[2018-07-19 19:01] TensorTom opened #622 "“could not be scrolled into view”"
I'm trying to automate logging into a web site using Splinter. There are a few selector methods I can use to click the login link but it doesn't matter. I always get:

`selenium.common.exceptions.ElementNotInteractableException: Message: Element <a class="tv-header__device-signin js-header__signin" href="#signin"> could not be scrolled into view`

Code:

[code]

[2018-08-13 06:39] sureshvv opened #624 "How can I make splinter visit a file:/// url?"
I have the contents of the page saved. I am trying to create a reproducible bug scenario in splinter.

Something like browser.load() will be ideal.

[2018-08-13 13:43] yannlm1 opened #625 "Headless mode with Firefox - Geckodriver"
Dear support,

I've seen a headless mode with Chrome available, but what about firefox ? In my infrastructure we only use firefox,

I'm opening a BMC remote connection based on java via firefox, so I don't really need to have a browser opened.

Thanks.

[2018-08-13 14:02] #625 closed

[2018-08-13 14:02] yannlm1 commented on #625
I've seen the option in the documentation, it works.
Sorry about that.

[2018-08-16 14:42] andrewsmedina commented on #591
In the @samboy case it is possible to access the `element` attributes:

[code]

In @youtux case I believe that we should solve this add a `execute_script` by `element`

What do you guys think about it?

[2018-08-16 16:16] samboy commented on #591
The question I have is this: Is there a commitment from the Splinter development team to make sure `_element` will continue to work in the future, or is it possible Splinter team one day decide to break this undocumented feature?

[2018-08-16 17:07] andrewsmedina commented on #591
There is no plan to remove the `_element` for selenium based drivers. But If the community embrace the idea we can follow a path to make this official. Making a way to officially expose the `driver` element.

[2018-08-17 04:50] sureshvv commented on #624
Can someone comment?

[2018-08-18 17:28] andrewsmedina commented on #624
You can just call `browser.visit("file:///filepath")`

[2018-08-19 00:32] #592 closed

[2018-08-19 00:37] andrewsmedina commented on #379
closed by https://github.com/cobrateam/splinter/commit/b7395821d735c8baf2225408c0001a7675f2b833

[2018-08-19 00:37] #379 closed

[2018-08-19 00:41] #614 closed

[2018-08-19 04:30] #606 closed

[2018-08-24 13:58] kriom commented on #492
Hi,

Now `options.add_option("prefs", {"intl.accept_languages": "fr-FR"})` can used

Thanks

[2018-08-26 02:05] #612 closed

[2018-08-26 02:06] #624 closed

[2018-08-26 02:08] #620 closed

[2018-08-26 02:08] #618 closed

[2018-08-26 02:08] #610 closed

[2018-08-26 02:10] #591 closed

[2018-08-26 02:10] #583 closed

[2018-08-26 02:12] #492 closed

[2018-08-26 02:13] #31 closed

[2018-08-26 02:13] #13 closed

[2018-08-26 02:13] #68 closed

[2018-08-26 02:15] #192 closed

[2018-08-26 02:15] #214 closed

[2018-08-26 02:19] #257 closed, assigned to nobody

[2018-08-26 02:20] #281 closed, assigned to nobody

[2018-08-26 02:20] #292 closed, assigned to nobody

[2018-08-26 02:20] #342 closed, assigned to nobody

[2018-08-26 21:31] #571 closed

[2018-08-26 23:37] #125 closed

[2018-08-27 00:00] #541 closed

[2018-08-27 00:01] andrewsmedina commented on #278
fixed by https://github.com/cobrateam/splinter/commit/faef8688e01ba1277b4b8648bcc11c8d88b546ba

[2018-08-27 00:01] #278 closed

[2018-08-27 00:16] #577 closed

[2018-08-27 00:18] #165 closed, assigned to andrewsmedina

[2018-08-27 00:19] #218 closed, assigned to nobody

[2018-08-27 00:20] #134 closed, assigned to nobody

[2018-08-27 00:22] #239 closed, assigned to nobody

[2018-08-27 00:22] #238 closed, assigned to nobody

[2018-08-27 00:23] #229 closed, assigned to nobody

[2018-08-27 00:24] #207 closed, assigned to nobody

[2018-08-27 00:29] #186 closed

[2018-08-27 00:30] #170 closed

[2018-08-27 00:35] #303 closed

[2018-08-27 00:36] #296 closed

[2018-08-27 00:37] #290 closed

[2018-08-27 00:38] #282 closed

[2018-08-27 00:39] #280 closed

[2018-08-27 00:40] #261 closed

[2018-08-27 00:41] #260 closed

[2018-08-27 00:41] #255 closed

[2018-08-27 00:41] #254 closed

[2018-08-27 00:43] #325 closed

[2018-08-27 00:43] #326 closed

[2018-08-27 00:43] #330 closed

[2018-08-27 00:45] #350 closed

[2018-08-27 00:45] #351 closed

[2018-08-27 00:46] #363 closed

[2018-08-27 00:47] #364 closed

[2018-08-27 00:53] #371 closed

[2018-08-27 00:53] #376 closed

[2018-08-27 00:54] #381 closed

[2018-08-27 00:54] #382 closed

[2018-08-27 00:55] #391 closed

[2018-08-27 00:57] #469 closed

[2018-08-27 00:57] #468 closed

[2018-08-27 00:57] #467 closed

[2018-08-27 00:57] #462 closed

[2018-08-27 00:58] #451 closed

[2018-08-27 01:00] #440 closed

[2018-08-27 01:00] #439 closed

[2018-08-27 01:00] #435 closed

[2018-08-27 01:01] #422 closed

[2018-08-27 01:01] #418 closed

[2018-08-27 01:02] #416 closed

[2018-08-27 01:02] #411 closed

[2018-08-27 01:02] #400 closed

[2018-08-27 01:03] #474 closed

[2018-08-27 01:04] #478 closed

[2018-08-27 01:05] #505 closed

[2018-08-27 01:06] #511 closed

[2018-08-27 01:07] #524 closed

[2018-08-27 01:08] #525 closed

[2018-08-27 01:08] #526 closed

[2018-08-27 01:08] andrewsmedina commented on #531
After 0.9.0 the zope testbrowser 5+ is supported

[2018-08-27 01:08] #531 closed

[2018-08-27 01:09] #540 closed

[2018-08-27 01:11] #546 closed

[2018-08-27 01:12] #573 closed

[2018-08-27 01:14] andrewsmedina commented on #589
Currently zope is only supported in Python 2

[2018-08-27 03:47] #472 closed

[2018-08-27 03:49] andrewsmedina commented on #220
duplicated of https://github.com/cobrateam/splinter/issues/455

[2018-08-27 03:49] #220 closed

[2018-08-27 03:49] andrewsmedina commented on #338
duplicated of https://github.com/cobrateam/splinter/issues/455

[2018-08-27 03:49] #338 closed

[2018-08-27 03:49] andrewsmedina commented on #484
duplicated of https://github.com/cobrateam/splinter/issues/455

[2018-08-27 03:49] #484 closed

[2018-08-27 13:01] yannlm1 opened #627 "Can't fill a field - Element is disabled"
Dear Support,

I started to work on a new web interface, but struggling on the login page, can't fill the login value, getting element is disabled, although I use this field for typing the username

My request:
[code]

Result:
[code]
Thanks for your help.

[2018-08-27 14:21] jacebrowning opened #628 "Unable to chain find_by_css().find_by_text() with 0.9.0"
https://github.com/cobrateam/splinter/issues/426 seems to have resurfaced in 0.9.0.

With 0.8.0, `browser.find_by_css(".onboarding-modal").find_by_text("Slack")` finds one element on my site, but 0.9.0 returns none.

I think https://github.com/cobrateam/splinter/commit/1cfd05086a5ccb1c3297072e2bc0e713e71b2156 is the commit that changed this behavior.

I can try to find a reproduceable example on a

[2018-08-27 15:03] #627 closed

[2018-08-28 22:57] ericminio commented on #622
In case it helps: I met this error message when the target had a size of zero

[2018-08-30 09:39] yannlm1 opened #630 "Handle firefox closed by user"
Dear Support,

I created a script based on splinter for sysadmin stuff (managing IPMI server web interface).

My issue is that when a user close Firefox by clicking on exit (top right corner), I'd need to detect it on then send a browser.quit() . Is there way to do that, or another method?

Thanks for your help.

[2018-08-30 15:39] youtux commented on #591
I see that https://github.com/cobrateam/splinter/commit/1f2bc75cda956ab9c4063ed7ede8521d7c32a4d7 help with my use case, in the sense that I don't have to use the private `_driver` property. Can you release a new version of splinter so that I can take advantage of `scroll_to()`?

[2018-08-30 16:31] andrewsmedina commented on #591
@youtux we should add this in 0.10 with some bug fixes.

[2018-09-05 15:02] impshum opened #632 "Browser opens but no further actions"
Just opens the browser and sits there with both Firefox and Chrome

Browsers - Firefox ESR & Chromium 68.0.3440.75

This is in the geckodriver.log

    [Child 2489] ###!!! ABORT: Aborting on channel error.: file /build/firefox-esr-TVuMhV/firefox-esr-52.9.0esr/ipc/glue/MessageChannel.cpp, line 2152

[2018-09-06 20:13] impshum commented on #632
The latest. I just installed it.

[2018-09-07 13:46] yannlm1 commented on #630
Dear Support,

Any help please?

Thanks.

[2018-09-26 09:01] impshum commented on #583
Full lists are here.
http://kb.mozillazine.org/About:config_entries
http://kb.mozillazine.org/Category:Preferences

`with Browser(headless=False, incognito=True, profile_preferences={ 'permissions.default.image': 2}) as browser:`

[2018-09-26 09:06] impshum commented on #570
I've never managed to get a profile loaded with Splinter. I'm in the same boat here.

[2018-10-03 04:04] rubiagatra commented on #628
Can I help with this one @jacebrowning ?

[2018-10-03 04:50] rubiagatra commented on #628
Thanks! @jacebrowning I will install and follow the tutorial first, If I am facing something that I don't know I will contact you

[2018-10-04 05:02] boltzmann-brain opened #639 "Cleaning up errors in documentation"
Skimming the docs, I notice a lot of language mistakes, typos, and outdated information. Does anyone mind if I work on cleaning those up? I'm a professional technical writer and I've worked with Sphinx.

[2018-10-06 02:14] andrewsmedina commented on #621
@bhoomeendra I cant reproduce this. I changed the test to use this input value and it works. Maybe the problem should be something related with the page, like js, that are adding some side effects in the input.

[2018-10-06 19:42] abitrolly commented on #628
@rubiagatra do you want to get the bounty for solving the problem? @Naggertooth volunteered to solve the task, but because you were first in the comments, maybe you're already halfway there and I would award the bounty to you.

[2018-10-07 23:18] andrewsmedina commented on #460
closed by #645

[2018-10-07 23:18] #460 closed

[2018-10-08 01:47] bmcculley commented on #622
There are 2 links on the page with the href and text. So, you'll want to just find the elements first and then chose one to click on, here's the code that worked for me on that page.

[code]

@andrewsmedina This isn't a bug with splinter, so I feel this issue can be closed.

[2018-10-08 10:26] kolapsys opened #648 "Trying to run tests on windows environment leads to error "Failed to start test server: [Errno 2] No such file or directory: '/dev/null''"
https://github.com/cobrateam/splinter/blob/69552e72ecf8c50c2ef34d9bfbc1baebc3db053d/run_tests.py#L61

In order to be able to run the tests cross-platform `"/dev/null"` should be replaced with `os.devnull`.

[2018-10-08 11:11] kolapsys commented on #648
solution provided in PR #649

[2018-10-08 14:16] andrewsmedina commented on #648
closed by #649

[2018-10-08 14:16] #648 closed

[2018-10-08 14:34] AlecksRodriguez commented on #628
Tengo un poco de dudas respecto al proyecto, podría ponerme en contacto contigo?

[2018-10-10 20:39] ynx0 commented on #567
I would like to help update the docs. Can I start working on this?

[2018-10-10 23:12] andrewsmedina commented on #567
@ynx0 yes. Fell free to contribute with this issue.

[2018-10-11 17:33] #622 closed

[2018-10-13 21:06] super-oleg commented on #628
I see there is no progress on this, so I'll try to fix it. I have some ideas to try.

[2018-10-14 17:05] BhavishyaJain commented on #608
@andrewsmedina Hi, is anyone working on this? if not, then can I take it up?

[2018-10-15 03:51] kishan3 commented on #202
This refers to `splinter/docs/api` ,  right?

[2018-10-15 18:20] andrewsmedina commented on #202
Yes

[2018-10-19 14:02] andrewsmedina commented on #308
closed by #657

[2018-10-19 14:02] #308 closed

[2018-10-19 22:33] kalkehcoisa commented on #295
Hi @douglascamata , I know this is an old and closed issue. But, wouldn't be handy to add a method like `cookies.add_all` to be able to directly accept the "dump" done by `cookies.all()`?
Because, you know. It's a very common operation to store the cookies and restore them later.
If it's ok, I send a PR with some code to do so.

[2018-10-23 21:08] frankchen07 commented on #628
hey @super-oleg - it looks like you've closed this out -> do you mind cancelling the bounty? https://gitcoin.co/issue/cobrateam/splinter/628/1376

[2018-10-29 03:02] damon-myers commented on #560
Hi @andrewsmedina, would you still be interested in a PR for this?

[2018-11-01 07:12] treyhunner commented on #632
I see the same behavior. I'm attempting to test with Firefox. If I stick in a breakpoint I can see that my actual test code doesn't even start executing.

[2018-11-03 10:40] impshum commented on #632
@treyhunner Browser opens and..... nothing runs yes?

[2018-11-07 18:52] treyhunner commented on #632
@impshum correct

[2018-11-13 05:37] rominf commented on #477
@andrewsmedina, I don't like this approach. It's not portable: on OS X you have to use `Cmd` instead of `Ctrl`. Also, it's implementation dependent - your solution works only if the element was extracted from the browser, powered by Selenium.

I propose to add a method to `WebDriver`:
[code]

[2018-11-13 13:04] zeburek opened #666 "Remote Firefox doesn't support throws even if I use Chrome as remote"
As I see - there is problem in code, that doesn't verify what type of browser is used in remote.
So I would like to add a check of browser type - because if I re-write `element_type` with chromes `WebDriverElement` I have everything perfectly working.

[2018-11-13 18:05] andrewsmedina commented on #477
Good idea @rominf

[2018-11-16 20:16] #628 closed

[2018-11-16 20:41] andrewsmedina commented on #275
This is working in the latest version

[2018-11-16 20:41] #275 closed

[2018-11-16 20:42] andrewsmedina commented on #348
This was marked as fixed by chromedriver https://bugs.chromium.org/p/chromedriver/issues/detail?id=627

[2018-11-16 20:42] #348 closed

[2018-11-16 20:42] andrewsmedina commented on #398
This was marked as fixed in chromedriver https://bugs.chromium.org/p/chromedriver/issues/detail?id=627

[2018-11-16 20:42] #398 closed

[2018-11-16 20:53] andrewsmedina commented on #506
This was fixed in the latest version

[2018-11-16 20:53] #506 closed

[2018-11-19 18:57] theunraveler opened #667 "Django >= 2.0.6 now required for python > 3.3"
[This commit](https://github.com/cobrateam/splinter/commit/907208296d1936b2e8abfe21b7109cb0dad9e6a2) ([this part in particular](https://github.com/cobrateam/splinter/commit/907208296d1936b2e8abfe21b7109cb0dad9e6a2#diff-2eeaed663bd0d25b7e608891384b7298R30)) pins the django version to >= 2.0.6 if you're installing on python 3.3. As far as I know, Django 1.11 is still supported on python 3, and this

[2018-11-21 14:16] aramgrigoryan commented on #492
Hi, still running from germany to query english questions on google . com returns answers in german, not in english as expected...
options are
[code]

[2018-11-26 13:54] sdmovie opened #668 "element screenshot code needs correction"
In splinter ->driver->webdriver->__init__.py, line 799
###original code
        ratio = im_width * 1.0 / window_width
        height_ratio = im_height / ratio

        im = im.resize((int(window_width), int(height_ratio)))

        location = self._element.location
        x, y = location['x'], location['y']

        pic_size = self._element.size
        w, h = pic_size['width'], pic_size['height'

[2018-12-08 08:39] Liang-WenYan commented on #165
Awesome!

[2018-12-26 09:43] wurenbuxiao opened #670 "Chromeoptions does not work in new version"
Last day, I update my splinter and selenium and find out that it does not work when I pass chromeoptions to driver. Is it a bug or something? I did not change anything except updating my splinter and selenium to the newest version.

here is my test code:

from splinter import Browser
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.add_argument("--use

[2018-12-26 10:08] wurenbuxiao commented on #670
my path is C:\Users\Myname\AppData\Local\Google\Chrome\User Data

[2018-12-28 19:47] andrewsmedina commented on #670
This code looks fine. What is the version of splinter and chromedriver?

[2018-12-29 22:30] andrewsmedina commented on #670
@wurenbuxiao what is the chromedriver version? You can see the version using: `$ chromedriver --version`

[2019-01-02 09:21] wurenbuxiao commented on #670
ChromeDriver 2.28.455520
Chrome 56.0.2924.87

[2019-01-03 03:48] #670 closed

[2019-01-05 23:10] kenyon opened #671 "setup.py missing six dependency"
Commit dcfba0ea808dda8224d2f52e64f099a2bbf2b5f8 started using the six module, but setup.py wasn't changed to add six to install_requires.

[2019-01-07 00:17] #671 closed

[2019-01-07 11:54] AndCycle commented on #422
the workaround is not working at all, the profile parameter is never get pass down to commandline.

[2019-01-16 11:38] siddiqskm opened #673 "How can I retrieve the cookies added post splinter driver instantiation"
I see that all the cookies available in the browser are collected at the instant of instantiating splinter browser object but say in case some of the cookies gets added while am using the driver is there any way to retrieve them? Does CookieManager perform any kind of refresh to retrieve the newly added ones?

Reference: https://github.com/cobrateam/splinter/blob/0aae2027b02635526e45e021d4a5f51a7f

[2019-01-23 07:40] Fandekasp commented on #597
Hi, I've just setup Splinter since it was linked from [behave-django](https://behave-django.readthedocs.io/en/stable/usage.html?highlight=splinter).
To my disappointment, it doesn't seem to execute my React project, and searching through Splinter's issues, I found this thread and @j7an's comment

I'm not clear yet if Splinter doesn't support React-like projects or not (it doesn't make sense that i

[2019-01-23 16:49] j7an commented on #597
@Fandekasp I'm not sure when the requested features will be implemented in splinter. In the mean time you can take a look at [thewaiter](https://github.com/iamalittletester/thewaiter) repo. It's written in Java but I've re-written some functions in Python and my tests seem to work well for React projects.

I think the issue is that React continuously updates the DOM so Selenium waits forever for t

[2019-01-24 01:31] Fandekasp commented on #597
Thanks for the reply. Got it, I won't try to test React's virtual DOM :)

I confirm that I fixed my setup (thanks [selenium-hub debug mode with vnc](https://github.com/SeleniumHQ/docker-selenium#debugging)) and can interact with my React project from behave-django with Splinter's remote webdriver.
Thanks again for Splinter !

[2019-01-28 19:02] cuducos opened #674 "Remote WebDriverElement seems more limited than it could be"
According to the implementation of the [remote web driver](https://github.com/cobrateam/splinter/blob/master/splinter/driver/webdriver/remote.py) it will always use the `splinter.driver.webdriver.remote.WebDriverElement` as it's element class. This class, for instance, limits the possibility of certain actions, such as [mouse over](https://github.com/cobrateam/splinter/blob/master/splinter/driver/

[2019-02-04 07:15] dxq0126 commented on #40
so how can i go back to the parent window context?

[2019-02-05 08:50] yannlm1 opened #676 "Move geckodriver.log to another folder"
Dear support,

My script is located under /user/local/sbin, and geckodriver.log can't writer in this folder, is there a way to change the location?

Thanks.

[2019-02-05 09:52] yannlm1 commented on #676
If it can helps other guys, I just edited
`/usr/lib/python2.7/site-packages/selenium/webdriver/firefox/webdriver.py`
and added my log_path and it works

Thanks.

[2019-02-05 09:52] yannlm1 commented on #676
Closing the issue

[2019-02-05 09:52] #676 closed

[2019-02-09 21:24] andrewsmedina commented on #674
I'm +1 for this. We already does a little of it in the WebDriver subclasses, but not for WebDriverElement.

[2019-02-12 18:46] cuducos commented on #674
Great. I just ran some tests and can confirm that the 4 out of the 5 features listed in the table above work for Chrome and Firefox using the remote web driver. I used [these 4 files to perform these tests](https://gist.github.com/cuducos/4d689995a9e5ddacf0440e2c07d2a0be), not sure if I tested it properly though:

1. `index.html` a single page with JS to trigger something on the 5 features listed

[2019-02-27 06:37] wurenbuxiao commented on #293
I am facing this question, too. But i use the function in selenium instead to solve this question, like use the find_element_by_xxx in the try/except. it is really fast.

[2019-03-14 08:26] yannlm1 opened #677 "headless=True is not working anymore"
Dear Support,

Since two days, my script is working anymore with headless variable set to true, it's stuck before doing browser.visit(url)

As soon as I remove headless variable it works perfectly, could you please take a look ?

Thanks,

geckodriver version :  0.24.0
firefox : 65-2

[2019-03-15 01:09] andrewsmedina commented on #677
The URL that you are using is public? Can you send this value to us to makes possible to reproduce this bug?

[2019-03-15 06:49] yannlm1 commented on #677
Hello

Not private, BMC board management for servers.

Thanks

Le 15 mars 2019 à 02:10, Andrews Medina <notifications@github.com<mailto:notifications@github.com>> a écrit :

The URL that you are using is public? Can you send this value to us to makes possible to reproduce this bug?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://gi

[2019-03-17 10:46] boyska commented on #589
Is this a zope bug, or a splinter bug? according to https://pypi.org/project/zope.testbrowser/
zope.testbrowser is supported on py 3.5+

[2019-03-17 19:40] andrewsmedina commented on #589
Currently zope driver with splinter works only for python 2

[2019-03-26 14:24] psaksena85 opened #678 "Full Webpage screenshot support"
Is there any capability to take full webpage screenshot. Currently screenshot is take only of the visible viewport.

[2019-04-03 16:41] Loschcode commented on #492
In Ruby, I used it this way if that can help anyone

[code]

[2019-04-09 15:54] jsfehler opened #680 "ElementAPI.clear() shadows list.clear() in python 3.3+"
The following code in python <= 3.2 will call ElementAPI.clear():

[code]

However, in python 3.3 and forward, the built-in list implements a clear() method. ElementList is a subclass of list, and as such the above code will call ElementList.clear().

The following still calls ElementAPI.clear() in all python versions:

[code]

ElementList probably should not subclass list directly.

[2019-04-15 16:10] Vichoko commented on #457
Have the same issue.
I'm trying to find the next clause:
[code]
(in this page https://en.wikipedia.org/wiki/List_of_lead_vocalists)
Using:
[code]

[2019-04-15 20:25] Vichoko commented on #608
Bump this. I think is a crucial feature, because text is now always known completely. For achiving this, maybe regex could be a very nice input to represent lookup in a more flexible way.

[2019-05-29 21:28] jsfehler commented on #519
@andrewsmedina A simple fix to this could be checking if the index is a slice or not:

[code]

[2019-06-11 14:57] aviskase opened #681 "WebDriverElement. select* implicitly rely on presence of name attribute for selector"
#620 asked about using `select` (and by extension, `select_by_text`) for an element without a name

But if you check implementation for methods defined for `WebDriverElement`, both contain search by selector's `name`

https://github.com/cobrateam/splinter/blob/32f11ff7fd7841b123f157720dcc95740f156ca8/splinter/driver/webdriver/__init__.py#L616

https://github.com/cobrateam/splinter/blob/32f11ff7fd7

[2019-06-13 14:34] andrewsmedina commented on #681
I believe that if the first approach is possible we can go with it.

[2019-06-18 05:51] marufmax commented on #237
Is this still implemented? I am eagerly waiting for this feature

[2019-06-19 00:55] #680 closed

[2019-06-19 00:56] #681 closed

[2019-06-19 22:03] ericrommel opened #693 "chromedriver doesn't work on Windows"
Dears,

I know that the Splinter doesn't have support for Windows, but you mention that it should be work fine if the webdriver is in the path. I read #173 and #119, but they didn't help me.
I put the chromedriver.exe in the path, as you can see here:
[code]

Could you help with this?

[2019-06-20 15:06] jsfehler commented on #693
sys.path isn't going to change the OS path, just the path for finding modules.

https://docs.python.org/3/library/sys.html#sys.path

[2019-06-20 15:11] jsfehler commented on #693
You're also instantiating both selenium and splinter separately.

If you want to pass a custom path to the webdriver through Splinter, off the top of my head you should use:

[code]

[2019-06-20 15:56] jsfehler opened #694 "Deprecating/Removing browser methods that can only search by 'name'"
The following methods:
[code]
Have analogous methods at the Element level. However, the browser level versions can only search by name. Any attempt to make them more flexible would result in code of no less complexity than calling `browser.find_by_x`. ie:

[code]

Removing them would simplify everything by having only one way to interact with the API.

[2019-06-20 18:09] ericrommel commented on #693
Yes, you are right.
Unfortunately, only add the .exe  at Environment Variables didn't work. That's why I was trying to use sys.path.
Using executable_path works fine. Thank you so much for your help.

[2019-06-24 23:42] jacebrowning opened #695 "New release?"
It's been 7 months since `0.10.0`. Could we get a new stable release?

[2019-06-24 23:47] jacebrowning commented on #695
Specifically, I'm hitting this bug:

[code]

which I can't trace to any code in `master` so I think might already be fixed.

[2019-06-25 05:19] #693 closed

[2019-06-25 16:31] #519 closed

[2019-06-25 16:33] andrewsmedina commented on #695
We will make a release in this week.

[2019-06-28 00:55] andrewsmedina commented on #695
0.11.0 released https://github.com/cobrateam/splinter/releases/tag/0.11.0

[2019-06-28 00:55] #695 closed

[2019-06-28 18:35] jsfehler commented on #579
@andrewsmedina @jstray This issue should be fixed with the release of 0.11.0

[2019-06-28 18:42] jsfehler commented on #597
@andrewsmedina The following version 1.0 issues could probably be closed.
#166
#333
#455
#520
#579

[2019-06-28 18:46] jsfehler commented on #597
I've investigated #172 briefly and it appears to be a unicode encoding issue. I think it should be up to the user to encode their strings as utf-8.

[2019-06-30 15:05] #166 closed

[2019-06-30 15:06] andrewsmedina commented on #333
closed in 0.11.0 release

[2019-06-30 15:06] #333 closed

[2019-06-30 15:06] andrewsmedina commented on #455
closed in 0.11.0 release

[2019-06-30 15:06] #455 closed

[2019-06-30 15:06] andrewsmedina commented on #520
closed in 0.11.0 release

[2019-06-30 15:06] #520 closed

[2019-06-30 15:06] andrewsmedina commented on #579
closed in 011.0 release

[2019-06-30 15:06] #579 closed

[2019-07-09 07:10] TimurNurlygayanov commented on #342
Why the issue was closed? How to workaround it?

[2019-07-09 10:25] TimurNurlygayanov commented on #342
Finaly I've found the workaround:

We need to set a custom user agent to fix 403 errors:

`from selenium import webdriver
from selenium.webdriver.chrome.options import Options
opts = Options()
opts.add_argument("user-agent=whatever you want")

driver = webdriver.Chrome(chrome_options=opts)`

[2019-07-18 16:00] Constantin07 opened #702 "HTTP Error 403: request disallowed by robots.txt"
Running in python venv (MacOS) `Python 2.7.16`

Installed packages in venv:
[code]

[code]

getting back:

[code]

What am I doing wrong ?

[2019-07-20 16:02] #457 closed

[2019-07-20 16:37] #419 closed

[2019-07-25 13:29] uasya1 opened #705 "On some sites, the fill function does not work correctly"
On some sites, the fill function does not work correctly.
Characters are not fully entered.

Running in python venv (Win10x64) Python 3.6

Installed packages in venv:
splinter==0.10.0

from splinter import Browser

`.fill("123123")`
output:
`131
`
For example site http://npchk.nalog.ru/
`browser.find_by_xpath('//*[@id="inn"]').fill('5249155837')`

[2019-07-25 14:59] vdboor opened #706 "Confusing AttributeError raised when elements can't be found"
Splinter raises some hard to diagnose errors like: `AttributeError: 'ElementList' object has no attribute 'click'`
This is caused by the following code:

[code]

This happens because the `ElementDoesNotExist` error is masked in `ElementList.__getattr__()`:

[code]

Simply removing `except ElementDoesNotExist` would fix this issue

[2019-07-28 16:15] andrewsmedina commented on #706
@vdboor thanks for report this issue. Nice catch!

[2019-07-29 10:01] vdboor commented on #706
Thanks! I've created a small PR for this (https://github.com/cobrateam/splinter/pull/707) to see whether the tests would accept the change.

[2019-07-29 21:15] andrewsmedina commented on #706
closed by https://github.com/cobrateam/splinter/pull/707

[2019-07-29 21:15] #706 closed

[2019-08-08 16:18] djmunro opened #708 "Unable to slice on ElementList in python3"
# Issue
Applying a type(slice) to an ElementList causes a `TypeError: Object of type slice is not JSON serializable`

This happens because of the __getitem__ implantation

[code]

Slicing in python 3 will cause index to be type(slice). So when ` if not isinstance(index, int)`
get's evaluated, the code will return `return self.first[index]`.

However this is incorrect. We want to slice(take a subse

[2019-08-08 18:55] oTree-org opened #709 "Django client: Fields in buttons are missing from POST data"
I have this form:

[code]

When I do this:

`browser.find_by_name('foo').first.click()`

On the server I can see that the submitted POST data is missing the field "foo".

I'm using splinter[django]==0.11.0 with Python 3.7 but I recall this happening about a year ago also.

[2019-08-11 04:45] jsfehler commented on #708
This issue was fixed in the 0.11.0 release.

[2019-08-12 13:31] djmunro commented on #708
@jsfehler Do you happen to know when 0.11.0 will be released?

[2019-08-12 13:52] jsfehler commented on #708
@djmunro June 27th, 2019

[2019-08-13 19:44] jsfehler commented on #222
This is actually the correct implementation of the xpath spec, not a bug. See: https://github.com/seleniumhq/selenium-google-code-issue-archive/issues/403

A leading `//` will search relative to the document root, not the current context. `./` is required to search within the context.

@andrewsmedina In regards to Splinter's find_by_text method, Element.find_by_text will search within the child, n

[2019-08-15 02:51] haoflynet commented on #387
Now I get `selenium.common.exceptions.TimeoutException: Message:`

[2019-08-24 04:01] gkteck opened #710 "'extras_require' must be a dictionary Error while installing the new build in Mac OS 10.12.6"
The build is broken, getting the following error

error in splinter setup command: 'extras_require' must be a dictionary whose values are strings or lists of strings containing valid project/version requirement specifiers.

[2019-08-27 18:58] dscaduto opened #711 "Expected browser binary location, but unable to find binary in default location, no 'moz:firefoxOptions.binary' capability provided, and no binary flag set on the command line (SessionNotCreated)"

[2019-09-11 17:30] tony opened #712 "is_element_visible missing from API docs?"
[`is_element_visible`](https://github.com/cobrateam/splinter/blob/04a6da307f76d872ef1c227c47509fc983e5315c/splinter/driver/webdriver/__init__.py#L201) is a very helpful function, but haven't figured out why / what would be the clearest way to make it available in the docs (Should we make all `Window` available?)

[2019-09-12 02:48] andrewsmedina commented on #712
A good place for the docs about this method is the `matchers` page: https://github.com/cobrateam/splinter/blob/master/docs/matchers.rst

[2019-09-13 16:08] Shilpi85 opened #713 "Not able to chain element and select by text after upgrading to 0.11.0 from 0.10.0"
Hi,

Previously on Splinter 0.10.0 I was able to do:
**browser.find_by_css('element_css_id').select_by_text('text')**
and the above used to select text for that css_id but I noticed after upgrade this does not work as expected.
Now, it just selects the first text it finds completely ignoring the element_id.

[code]

For the above I want to select by country name like 'Belgium' and before I was abl

[2019-09-16 18:26] andrewsmedina commented on #678
@abathur you are right. I will close this issue.

[2019-09-16 18:26] #678 closed

[2019-09-16 18:35] abathur commented on #500
@andrewsmedina This (at least by title) also seems to be eclipsed by #617

[2019-09-17 01:34] andrewsmedina commented on #500
@abathur  you are right. I will close this issue.

[2019-09-17 01:34] #500 closed

[2019-09-24 21:57] mattfeury commented on #702
looks like it was removed here: https://github.com/cobrateam/splinter/commit/a7cbbf9efd6f987779eaad90f8af2d9758a42b1e

no clue why. @andrewsmedina was the author so may be able to shed some light

[2019-09-25 02:39] andrewsmedina commented on #702
This was removed on zope.testbrowser upgrade. I believe that we should figure out how to fix it using the current version of this driver.

[2019-09-26 18:50] JeffreyWinger55 opened #718 "How To Access Selenium Webdriver Through Splinter in Python"
Hi, I posted this to Stackoverflow but not sure there's many people on there that know about Splinter, so I thought I'd post it here incase any of you have an idea :)

Here's the post: https://stackoverflow.com/questions/58106735/how-to-access-selenium-webdriver-through-splinter-in-python

Thanks for your time, really appreciate it.

[2019-09-27 01:47] andrewsmedina commented on #718
The selenium webdriver is exposed by `driver` browser attribute:

[code]

[2019-09-27 02:08] JeffreyWinger55 commented on #718
Thanks a ton Andrew - that's weird I tried that from memory and it didn't
work! I must have done something wrong. Will test it out later when I get
home. Thanks for your time.

On Fri, Sep 27, 2019 at 2:47 AM Andrews Medina <notifications@github.com>
wrote:

[2019-09-29 15:09] sukhbeersingh commented on #712
Hi , I would like to work on this issue.

[2019-09-29 16:45] andrewsmedina commented on #712
@sukhbeersingh fell free to work on it. If you need help let us know.

[2019-10-01 16:48] lfdebrux commented on #515
Hi, I've just started using splinter with Flask and have run into the redirect issue; rather than having to patch things ourselves it would be really nice to see the fix merged. Would you be okay @anthonyjb @andrewsmedina if I opened a new pull request with @anthonyjb's fix (#517) plus some tests?

[2019-10-01 20:00] andrewsmedina commented on #515
@lfdebrux I'm ok with that ;)

[2019-10-01 20:22] tetsucceed commented on #567
Hello, this is my first time trying to contribute to Open Source. So if this issue is still open i think it's good chance to start with this.

[2019-10-02 01:27] andrewsmedina commented on #567
@tetsucceed this issue is still open. So, fell free to work on it. If you nedd help, let us know.

[2019-10-02 18:57] kjkorhonen commented on #387
@andrewsmedina, I think this issue can be closed now?

[2019-10-02 20:48] #387 closed

[2019-10-03 11:30] GuptaMegha commented on #558
I used a workaround to change the user-agent:
chromeOptions.addArguments("--user-agent=Chrome/77");
This solved my issue, for now!

[2019-10-06 02:04] sukhbeersingh commented on #712
Is the intent to just include the said function in the matchers page? Or is it to make a new page (windows.rst) and incorporate this in there?

[2019-10-13 18:35] sukhbeersingh commented on #709
Hey @andrewsmedina, could I help in this issue? Where would I start looking?

[2019-10-13 19:33] andrewsmedina commented on #709
@sukhbeersingh your help are welcome. I believe that tho fix this issue we should improve the `lxmldriver` (the driver that django extends) `serialize` method to get data from the `button` elements: https://github.com/cobrateam/splinter/blob/master/splinter/driver/lxmldriver.py#L47

[2019-10-21 17:52] abathur commented on #608
I was having trouble matching some text and saw this issue while looking for possible explanations. It may just be a version difference (I'm using 0.11.0) since this was opened, or perhaps I'm using a different driver, but I don't see this behavior.

I can match partial text just fine.

FWIW, the problem I was having was with matching text that spanned more than one element. I looked at the implem

[2019-10-24 10:17] kierun commented on #667
Django 1.11 is a long term release and should be supported for as long as Django supports it.

Due to poetry dependency checks, I cannot run any of the behaviour tests I have. PITA.

[2019-10-30 04:20] Zylatis opened #724 "Main example throws error"
When I run the given Google example on Linux i get the following (python3.6)

[code]

I did an inspect on the google website and it seems the button is called 'btnK' so I changed it to that but now get this
[code]

[2019-11-01 04:47] andrewsmedina commented on #724
@Zylatis what splinter version are you using?

[2019-11-05 19:48] jsfehler commented on #713
@Shilpi85 @andrewsmedina

#686 Is what changed this behaviour.

`WebDriverElement.select_by_text` currently searches from the root of the document, explaining the issue.

If we replace `WebDriverElement.select` with something like the following (untested):

[code]

I think that would get most appropriate behaviour.

[2019-11-06 11:04] IvanLemos5000 opened #726 "Error when use zope.testbrowser"
I'm trying to use the zope.testbrowser, but splinter returns

[code]

I'm using Python 3.6.8 and this is my requirements.txt:
[code]

[2019-11-06 16:39] zvolsky opened #728 "Cannot set content of the proper Select element with Django (2.x) Admin with fieldsets (spl 0.11.0))"
[code]

[2019-11-06 23:48] andrewsmedina commented on #726
In the current splinter version, the zope.testbrowser only works on python2

[2019-11-08 05:11] Zylatis commented on #724
Apologies for delayed reply: version is 0.11.0

[2019-11-08 11:47] #726 closed

[2019-11-12 18:57] zodman opened #730 "[feature] implement the selenium-wire webdriver"
https://github.com/wkeeling/selenium-wire

Looks awesome logs the http(s) requests.

[2019-11-18 11:19] kierun commented on #667
Any update on this?

[2019-11-26 12:51] georgeliu888 opened #736 "spanish charactes url encoding"
When I want to visit url by splinter browser.visit(url),  spanish characters, like á , è , ñ, etc, usually change into window-1252 encoding, thus the url couldn't be visited.

For example, I visit the url: 'https://bm.linkedin.com/pub/angello-infante-sánchez/48/8a0/863'
browser changed it to: https://www.linkedin.com/public-profile/pub/angello-infante-s%E1nchez/48/8a0/863 , and linkedin response "

[2019-12-09 14:58] andrewsmedina commented on #575
closed by https://github.com/cobrateam/splinter/pull/699

[2019-12-09 14:58] #575 closed

[2019-12-09 16:35] #713 closed

[2019-12-11 19:28] jadeiX opened #743 "adding cookies issues"
Hello,
I am using Django with LiveServerTestCase. I was trying to load my chrome driver with a cookie that preloads a user session cookie.
for example:
` cookie = {'path': '/', 'value': '9gl4p7wlrtgkw3dfer1vi2jievkks8f1', 'name': 'sessionid'}`
however, the cookie doesn't load properly, and the user is not logged in when i run
[code]
When I inspected the code at [splinter/driver/webdriver/cookie_ma

[2019-12-12 03:01] andrewsmedina commented on #712
closed by #723

[2019-12-12 03:01] #712 closed

[2019-12-12 03:09] andrewsmedina commented on #504
I can't reproduce this bug with the latests splinter versions. So, I'm closing it for now

[2019-12-12 03:09] #504 closed

[2019-12-12 16:15] jsfehler commented on #603
@andrewsmedina I believe this issue has been fixed in 0.12.0

[2019-12-13 02:58] #603 closed

[2019-12-14 17:28] jsfehler opened #745 "How about a 0.13.0 release?"
@andrewsmedina Thanks for the recent 0.12.0 release. It's only been a few days, but the past few commits after 0.12.0 have fixed a bunch of issues which I think warrant another release.

[2019-12-15 20:52] andrewsmedina commented on #745
0.13.0 released https://github.com/cobrateam/splinter/releases/tag/0.13.0

[2019-12-15 20:52] #745 closed

[2019-12-17 02:53] #274 closed

[2019-12-17 03:44] andrewsmedina commented on #605
closed by #615

[2019-12-17 03:44] #605 closed

[2019-12-18 06:20] DH-MP opened #747 "splinter.driver.webdriver.WebDriverElement.screenshot: "'WebDriverElement' object has no attribute "recover_screen"""
When using screenshot function under splinter.driver.webdriver.WebDriverElement I get the following error:

'''

        def screenshot(self, name='', suffix=".png", full=False):
            name = name or ''
            (fd, filename) = tempfile.mkstemp(prefix=name, suffix=suffix)
            # don't hold the file
            os.close(fd)

            if full:
                self.parent.full_scr

[2019-12-20 21:55] alphydan opened #748 "local variable 'e' referenced before assignment in DriverNotFoundError"
I am trying to run a simple:
[code]
I have downloaded the latest chromedriver from https://chromedriver.chromium.org/,  I did `chmod +x` the driver, saved it to the working directory and defined the executable_path as:

`executable_path = {'executable_path': os.getcwd() + '/chromedriver'}`

However, I get the error:

--------------------------------------------------------------------------
[code]

[2019-12-21 03:34] jsfehler commented on #748
@andrewsmedina I have a fix for this, will open a PR tomorrow.

[2019-12-21 23:33] andrewsmedina commented on #222
@jsfehler makes sense to me. Marking this issue as invalid

[2019-12-21 23:33] #222 closed

[2019-12-23 15:02] gtamba opened #751 "Chrome: screenshot_as_png() Not callable from browser or browser.driver"
Hello, I was interested in being able to directly call [screenshot_as_png()](https://github.com/cobrateam/splinter/blob/9a79baf73f10d79e9b3d7695745c937154018874/splinter/driver/webdriver/__init__.py#L978) from the browser object instead of browser.screenshot which would require me to add an extra IO step in reading the image.

I'm using the Chrome Driver and getting the error
[code]

But browser.s

[2019-12-24 20:59] andrewsmedina commented on #748
closed by #749

[2019-12-24 20:59] #748 closed

[2019-12-26 12:40] nmfzone commented on #748
When the patch release?

[2019-12-31 21:58] andrewsmedina commented on #361
this issue is already fixed the test added in https://github.com/cobrateam/splinter/commit/3bee3089e299f50ef7062b2e1892cd14f03a11f8 proves that

[2019-12-31 21:58] #361 closed

[2020-01-03 21:31] andrewsmedina commented on #383
I can't reproduce this bug with the splinter last version

[2020-01-03 21:31] #383 closed

[2020-01-04 18:59] andrewsmedina commented on #172
I can't reproduce this bug in the splinter latest version. So, I'm closing it.

[2020-01-04 18:59] #172 closed

[2020-01-04 22:05] andrewsmedina commented on #751
The `screenshot_as_png` is an element method. So, you can select the `html` element and then call the `screenshot_as_png` method: `browser.find_by_tag('html'). screenshot_as_png()`

[2020-01-04 22:07] andrewsmedina commented on #174
I cant reproduce this bug in the latest splinter version. So, I'm closing this issue.

[2020-01-04 22:07] #174 closed

[2020-01-04 22:34] andrewsmedina commented on #309
This is already handled by the `lxmldriver`

[2020-01-04 22:34] #309 closed

[2020-01-06 18:24] jsfehler commented on #293
@andrewsmedina This issue has been fixed in 0.13.0. `is_element_not_present` and `is_element_not_visible` return the moment the element is not present/visible, instead of retrying.

[2020-01-07 20:44] jsfehler commented on #169
@andrewsmedina I can't reproduce this issue, and there's tests to validate iframes. The issue is over 7 years old, so 🤷‍♂

[2020-01-07 21:08] jsfehler commented on #446
@andrewsmedina browser.screenshot uses tempfile.mkstemp to get a filename with a random portion to the filename. Is this the desired behaviour? In the event of the provided filename already existing, should we write a new file (current behaviour, due to random string) or throw an exception? Either way, overwriting the existing screenshot is definitely something to avoid.

[2020-01-07 21:29] jsfehler commented on #297
@andrewsmedina Seems like we're following WebDriver's lead here. Changing it would probably cause more confusion than anything else.

[2020-01-08 21:41] jsfehler commented on #427
@andrewsmedina This is a selenium issue:

https://github.com/SeleniumHQ/selenium/issues/7677
https://github.com/SeleniumHQ/selenium/issues/6548

As noted in that ticket: `driver.install_addon()` is a workaround.

[2020-01-09 14:36] mikiboy opened #753 "Remote wedriver not working with arguments"
As per the docs at https://splinter.readthedocs.io/en/latest/drivers/remote.html remote webdriver is supposed to work with `url` argument. But from the latest code for 0.13.0 it's changed completely.
My old code broke when building docker image with no version mentioned for the splinter in requirements file.
I checked the tests code [here](https://github.com/cobrateam/splinter/blob/master/tests/te

[2020-01-09 20:06] andrewsmedina commented on #169
@jsfehler I will close this issue ;)

[2020-01-09 20:06] #169 closed

[2020-01-09 20:36] jsfehler commented on #753
@andrewsmedina The files on readthedocs.io haven't been updated past 0.10.0

[2020-01-09 21:02] jsfehler commented on #736
@georgeliu888 Can't reproduce. Can you provide a working example that causes this issue?

[2020-01-10 01:29] andrewsmedina commented on #753
The sync between read the docs and github was broken. I have fixed it. So the 0.13.0 docs are online now.

[2020-01-10 12:25] mikiboy commented on #753
Thanks guys for quick reply and doc fix.

[2020-01-10 12:25] #753 closed

[2020-01-11 06:45] gtamba commented on #751
Thank you for the clarification, I believe I blindly tried to mimic the api of other browser interfaces when I couldn't find the right codepath

[2020-01-11 06:45] #751 closed

[2020-01-17 02:59] jmt-transloc opened #755 "UnboundLocalError when using pytest-splinter in Docker container"
I am attempting to shift my automation at work from Selenium to Splinter. As part of this, I have chosen to utilize the pytest-selenium plugin for better QOL. Unfortunately, it appears that Splinter is raising an UnboundLocalError when run from a Docker container, not when running from command line. This error is raised at line 68 in browser.py within the Splinter library.

Any thoughts on what co

[2020-01-17 14:19] jmt-transloc commented on #755
To add some additional context, this only occurs when using either pytest-splinter or Splinter within a Docker container.

Running pytest-selenium or Selenium with the above Docker set up does not error out.

Feel free to contact me for any additional information I can provide.

[2020-01-18 03:40] jsfehler commented on #755
@jmt-transloc If you switch from the 0.13.0 release of splinter to the master branch, the error you're getting will be raised correctly. This will make debugging this issue easier.

[2020-01-18 13:42] jmt-transloc commented on #755
Thanks for your reply! I'll give that a shot and report back.

[2020-01-20 20:16] jeffdbeats opened #756 "btnG is now btnK"
I believe for me btnG is now btnK when I went on google... I was getting error but when I made this changed and it worked.

[2020-02-03 15:19] ShellCode33 opened #757 "FindLinks broken ?"
Hi ! I'm receiving an exception when I try to use the links property like this :
[code]

Here's the relevent part of the traceback :
[code]
https://github.com/cobrateam/splinter/blob/3bee3089e299f50ef7062b2e1892cd14f03a11f8/splinter/driver/webdriver/__init__.py#L207

I tried to remove all **original_find** and **original_query** from the FindLinks class and now it works fine !

Python 3.8
splinter

[2020-02-04 00:21] jsfehler commented on #757
The solution is the opposite. WebDriverElement's find_by_xpath method should take original_find and original_query as optional arguments.

[2020-02-04 01:04] ShellCode33 commented on #757
How about ?
[code]

[2020-02-05 16:17] jsfehler commented on #757
@ShellCode33 Makes sense to me. If the tests pass you should open a PR for the fix.

[2020-02-13 06:22] tchabaud commented on #755
Hello,

I'm having troubles trying to run in a Docker container too. I'm using an Alpine 3.11 based container, with chromium and chromedriver installed.

I launch the browser like this :

[code]

and it always fail with the following error :

[code]
I'm using splinter Github master version, installed with :

[code]

What am I doing wrong ?

[2020-02-13 06:50] tchabaud commented on #755
Ok just find my mistake.

Selenium Chromedriver options was no correctly set, with the following code it works fine :

[code]
Sorry for the noise :disappointed:

[2020-02-13 14:13] jmt-transloc commented on #755
Going to close this out as my team and I decided to not move forward with Splinter.

[2020-02-13 14:13] #755 closed

[2020-02-19 16:18] dirkschneemann opened #759 "Firefox does not open in fullscreen mode when passing the according keyword argument"
The `fullscreen=True` argument to the Firefox browser constructor does not open the browser in full screen but in a regular non-maximized window instead:
[code]
Apart from that there is no error message.

For Chrome, however, it works just fine:
[code]

Versions:
* Ubuntu 18.04
* splinter 0.13.0
* selenium 3.141.0
* Firefox 73.0

[2020-02-24 05:53] EAly opened #760 "UnboundLocalError when running splinter browser"
I get this error:

[code]

When I try to use splinter browser as:

[code]

I'm using splinter version: '0.13.0' and firefox

[2020-02-24 19:12] kageurufu opened #761 "LxmlDriver-based backends do not support the new FindLinks API"
<details>
<summary>Original Comment</summary>
I have a simple solution (locally subclassed) for our own test suite

[code]

The other solution I could see would be to add support for either unknown kwargs to the LxmlDriver `find_by_xpath(selector, **_kwargs)`, or perhaps explicitly `find_by_xpath(selector, original_find=None, original_query=None)` and then using the same `FindLinks` class the Webd

[2020-02-24 19:15] #761 closed

[2020-02-24 23:45] mikiboy commented on #760
The Browser object has bug.
I see it fixed in the source code but not in the pip packages.

[2020-02-25 00:20] EAly commented on #760
I solved that by installing the splinter from source code as mentioned [here](https://splinter.readthedocs.io/en/latest/install.html) and adding the gekodriver executable to path.

[2020-02-25 00:20] #760 closed

[2020-02-26 02:16] timgates42 opened #763 "Fix simple typo: compability -> compatibility"
There is a small typo in docs/news/0.1.1.rst.
Should read `compatibility` rather than `compability`.

[2020-02-28 02:02] #763 closed

[2020-02-28 21:37] #293 closed

[2020-02-28 21:40] jsfehler commented on #757
Fixed by #758

[2020-02-28 21:40] #757 closed

[2020-02-28 22:24] #708 closed

[2020-02-28 23:33] jsfehler commented on #475
Fixed in splinter 0.12.0

[2020-02-28 23:33] #475 closed

[2020-02-28 23:49] jsfehler commented on #491
@andrewsmedina Given the age of this issue and nobody else raising it, I think it's best to kick it out of 1.0 and close.

[2020-02-29 00:05] jsfehler commented on #711
@dscaduto This is a bit vague. Please provide example code that demonstrates the issue, along with a traceback displaying the error.

[2020-02-29 15:15] jsfehler commented on #632
This is a geckodriver issue, see the similar: https://github.com/mozilla/geckodriver/issues/285

[2020-02-29 15:15] #632 closed

[2020-03-01 02:35] jsfehler commented on #470
This appears to have been fixed by #334

[2020-03-01 02:35] #470 closed

[2020-03-04 04:24] jsfehler commented on #759
Fixed by #765

[2020-03-04 04:24] #759 closed

[2020-03-04 06:23] pyfreyr commented on #359
selenium [firefox WebDriver](https://github.com/SeleniumHQ/selenium/blob/master/py/selenium/webdriver/firefox/webdriver.py#L49) supports `proxy` argument:

[code]

so splinter can use authenticated proxy like this:

[code]

[2020-03-04 08:36] pyfreyr commented on #359
selenium-wire supports authenticated proxy through augument `seleniumwire_options`, and it's firefox webdriver is subclass of selenium's webdriver, so I modify the module `splinter.driver.webdriver.firefox`:

[code]

now I can use splinter with proxy like this:

[code]

It will be nice if splinter extends `profile_preferences` like:

[code]

[2020-03-04 18:53] jsfehler commented on #747
@DH-MP Thanks for the detailed bug report.

I think the easiest fix here is to add `self.parent = self` to BaseWebDriver, and  change
`elem_list = [self.element_class(element, self) for element in elements]`
to
`elem_list = [self.element_class(element, self.parent) for element in elements]`
in _find().

This bug has revealed some blind spots in the unit tests, so hopefully we can get some new test

[2020-03-08 14:54] jsfehler commented on #515
Fixed by #721

[2020-03-08 14:54] #515 closed

[2020-03-18 12:58] f4br3 commented on #558
It works, huge thanks!

[2020-03-26 03:03] jacebrowning commented on #748
@andrewsmedina could we please get a new release containing this fix?

I'd like to be able to automatically install the necessary WebDriver using https://github.com/SergeyPirogov/webdriver_manager, but the `UnboundLocalError` causes Splinter to crash too early to detect which drivers are available.

[2020-03-28 22:39] mpasternak commented on #677
See my pull request, #768, this should fix that. @andrewsmedina , you around?

[2020-03-29 22:57] andrewsmedina commented on #677
fixed by #768

[2020-03-29 22:57] #677 closed

[2020-03-30 18:45] mdilovar commented on #760
Are there any plans to create a new release? This bug is very frustrating as it prevents you from seeing the actual underlying exception.

[2020-03-31 11:41] mikiboy commented on #760
Either you can use the source code directly in your project.
Or don't use the Browser object but directly call the required driver.

[2020-04-01 19:13] jsfehler commented on #747
Fixed by #769

[2020-04-01 19:13] #747 closed

[2020-04-03 16:44] jsfehler commented on #589
Fixed by #771

[2020-04-03 16:44] #589 closed

[2020-04-09 16:41] manishaery opened #772 "Remote driver throws unexpected keyword argument 'browserName'"
While creating a remote browser driver object, with Splinter 0.13.0, Selenium 3.141.0 on Python 3.8.2 I get the following error

[code]

[2020-04-09 16:47] bajaj-rohan commented on #772
I'm observing the exact same issue. Please help with a workaround for this Splinter team.

[2020-04-09 16:52] jsfehler commented on #772
browserName is not a valid argument for the Remote webdriver.

You're unpacking the `capabilities` dict you created and sending it as arguments.

If your goal is to add capabilities to WebDriver, don't unpack the dict

[2020-04-10 17:23] #772 closed

[2020-04-11 03:35] sodul commented on #772
Per the documentation:
https://splinter.readthedocs.io/en/latest/drivers/remote.html

Fix was to update this:
[code]

To this:
[code]

There has been backward incompatible changes since 0.11.0 and upgrading to 0.13.0 has caused us some trouble. Having these compatibility issues listed explicitly in the release notes would help the users of Splinter.

[2020-04-28 15:17] #756 closed

[2020-04-29 08:19] phaibin commented on #446
This is very confused. Can you add a switch to use my real filename or add random postfix?

[2020-05-04 19:01] #667 closed

[2020-05-14 10:09] olorton opened #775 "Form submit action url is incorrectly derived in lxmldriver.py"
If no action is set then the url is modified to append a slash which may not be a valid url. For example, the form on the following page `/question/95` would have an action set to `/question/95/` if no action is set. In my case I have resolved this issue by adding an action to my form.

If the maintainer could confirm that they would like a PR to fix this, then I will happily oblige.

[2020-05-22 12:17] medecau opened #776 "Tests are broken when running tox"
I have tried to run the tests using tox. Tried on py36, py37, and py38, all produce the following error.

`
___ ERROR collecting samples/test_google_search.py ___
samples/test_google_search.py:35: in <module>
    unittest.main()
../../.pyenv/versions/3.6.10/lib/python3.6/unittest/main.py:95: in __init__
    self.runTests()
../../.pyenv/versions/3.6.10/lib/python3.6/unittest/main.py:258: in runTest

[2020-05-22 13:56] jsfehler commented on #776
Most likely, you ran tox without any arguments and picked up the samples directory.

[2020-05-23 15:52] petercoles commented on #760
Can't find anything in the documentation about how to use the source code directly or how to bypass the driver by calling the required driver directly. Wouldn't it be easier to simply release the corrected code?

[2020-05-23 18:22] medecau commented on #776
I had to run `tox -- tests` in order to get pytest to pick only the tests folder.

The tests are now running up to 48% where they hang-up and do not seem to progress.
Last HTTP request being:
`127.0.0.1 - - [23/May/2020 20:20:20] "GET /alert HTTP/1.1" 200 -`

[2020-05-23 21:36] medecau opened #777 "ElementAPI compatible with item getters"
Please, provide access to HTML attributes through item getters.

The following code makes three assertions of which only one works.
[code]

_I would write the change myself but I have been unable to properly run the test-suite._

[2020-05-23 22:03] jsfehler commented on #776
What browser/driver/OS versions are you using?

[2020-05-24 03:13] medecau commented on #776
macOS Mojave 10.14.6
geckodriver installed from brew
Firefox 76.0.1

[code]

[2020-05-28 15:45] orokusaki opened #778 "Bug in get_driver in 0.13.0"
There is an extraneous `raise e` in [get_driver](https://github.com/cobrateam/splinter/blob/0.13.0/splinter/browser.py#L68) causing an `UnboundLocalError`.

[2020-05-28 15:46] orokusaki commented on #778
I just realized that this bug has been fixed in `master`.

[2020-05-28 15:46] #778 closed

[2020-05-28 16:44] isakson98 opened #779 "line 68, in get_driver raise e UnboundLocalError: local variable 'e' referenced before assignment"
I've used the same code for a couple of months, and I am getting this error now all of a sudden. Anyone got any suggestion for what it is the issue here? I am using chrome for browser

Thanks

[2020-05-28 16:52] isakson98 commented on #778
how did you fix the problem?

[2020-05-28 19:19] orokusaki commented on #778
@isakson98 the bug mentioned above is fixed in the master branch, but the underlying cause of the exception that led to me encountering the bug was just the need to update my chrome driver. The version I have installed supported Chrome 80, and apparently I recently updated to Chrome 83.

I’ll update Splinter when 0.14.0 comes out, but in the meantime here’s what I did:

    brew update
    brew up

[2020-05-29 00:49] isakson98 commented on #778
Thank you. I'll try it out. I have the exact same issue.

[2020-05-29 16:33] isakson98 commented on #779
Solved the issue by updating my chromdriver to version 83

[2020-05-29 16:33] #779 closed

[2020-05-31 13:18] jsfehler commented on #776
Looks like the tests are failing on the latest version of Firefox, CI is hard-coded to Firefox 68 so it went undetected.

[2020-06-01 08:30] medecau commented on #776
Thank you for looking into this

[2020-06-16 13:48] jsfehler commented on #560
Fixed by #781

[2020-06-16 13:48] #560 closed

[2020-07-08 17:01] jsfehler commented on #776
Firefox failures fixed by #782

[2020-07-08 17:01] #776 closed

[2020-07-11 14:36] jsfehler commented on #666
Currently, the Chrome, Firefox, and Remove drivers all use the same WebDriverElement.

I'm closing this issue since it appears to be solved.

[2020-07-11 14:36] #666 closed

[2020-07-11 14:45] jsfehler commented on #775
@olorton We're always happy to get PRs for bug fixes. Thanks!

[2020-07-11 14:46] jsfehler commented on #736
Closing due to inactivity.

[2020-07-11 14:46] #736 closed

[2020-07-12 14:03] jsfehler commented on #582
This doesn't appear to be an issue with splinter.

[2020-07-12 14:03] #582 closed

[2020-07-12 14:10] jsfehler commented on #581
This doesn't appear to be a splinter issue, but https://stackoverflow.com/questions/27495376/catching-keyboardinterrupt-without-closing-selenium-webdriver-sessions-in-pyth is probably in the right direction.

[2020-07-12 14:10] #581 closed

[2020-07-12 14:23] jsfehler commented on #516
This doesn't appear to be an issue with splinter.

[2020-07-12 14:23] #516 closed

[2020-07-12 16:59] jsfehler commented on #718
Issue seems solved, so closing.

[2020-07-12 16:59] #718 closed

[2020-07-15 14:19] jsfehler commented on #347
This is a python 2 bytes/str issue. Encoding/decoding unicode characters has to be done on the user's end, there's no issue with splinter or selenium.

[2020-07-15 14:19] #347 closed

[2020-07-22 03:02] jsfehler commented on #630
This is more a selenium issue than a splinter issue, see: https://stackoverflow.com/questions/51685330/python-selenium-detect-when-the-browser-is-closed

[2020-07-22 03:02] #630 closed

[2020-07-22 04:55] JosephKiranBabu opened #783 "Please release 0.14.0 to PyPI"
I am unable to run tests without manually patching the fix for browser.py provided in #749

[2020-07-22 13:45] jsfehler commented on #532
Seems like this is only an issue with Firefox not being installed to the image. Closing.

[2020-07-22 13:45] #532 closed

[2020-07-22 14:14] jsfehler commented on #567
Fixed by #722

[2020-07-22 14:14] #567 closed

[2020-08-13 14:23] jsfehler commented on #182
@andrewsmedina I can't reproduce this issue, can you?

[2020-08-17 20:04] yasoob commented on #783
Came here to say exactly this. For those who are unaware of this release version disparity between PyPI and GitHub might think splinter is still broken.

[2020-08-18 00:50] jsfehler opened #792 "Couple of flaky unit tests after switch to running webdriver tests in parallel"
Some tests require a specific number of windows to be open. Reusing the same browser instance while running in parallel is causing issues.

[2020-08-19 22:56] andrewsmedina commented on #783
Done: https://pypi.org/project/splinter/0.14.0/

[2020-08-19 22:56] #783 closed

[2020-08-19 23:22] #792 closed

[2020-08-25 17:30] jsfehler commented on #377
@andrewsmedina Currently, users can supply a FirefoxBinary with a custom path to the Browser object. The auto-detect feature in #437 is interesting, but out of scope from this issue.

I'm closing this since there's nothing to fix. Re-open if you disagree or I misunderstood.

[2020-08-25 17:30] #377 closed

[2020-08-25 17:32] jsfehler commented on #711
Closing due to lack of activity.

[2020-08-25 17:32] #711 closed

[2020-08-25 17:35] jsfehler commented on #639
A lot of these issues have been fixed. If anything new is found it can be addressed in a new issue.

[2020-08-25 17:35] #639 closed

[2020-09-04 18:20] szafran98 commented on #477
Can I try doing this?

[2020-09-04 19:35] jsfehler commented on #477
I think `new_tab` makes more sense than `new`, which is too close to `__new__` but too different in behaviour for my liking.

@szafran98 Go for it. Just make sure to add unit tests.

[2020-09-04 19:38] szafran98 commented on #477
@jsfehler Yes, actually i'm doing it, but i have a little problem with makefile and i can't run tests
`
Running all tests...
tox -- 'tests'
make: tox: No such file or directory
make: *** [test] Error 1
`
I've tried with absolute path and still doesn't work

[2020-09-05 18:26] szafran98 commented on #477
@jsfehler Am I right that the topic of the issue is a possibility to open link in a new tab not a window? If yes then I almost done it and wrote tests, but I think there is a problem. I'm not using Firefox daily and I recognized that it always open link in a new window. Do you know any way to edit config immediately after run or need i to find workaround?

[2020-09-07 23:27] andrewsmedina commented on #477
@szafran98 and @jsfehler I believe that his method should belong to the `windows` scope. My proposal is to use`browser.windows.visit` or `browser.windows.new`.  What do you think about it?

[2020-09-08 12:40] szafran98 commented on #477
@andrewsmedina I can move it, but as i see in the docs browser.windows -> """ A class representing all open browser windows """ so how the program will know in which window it should open a new tab?

[2020-09-08 18:08] szafran98 commented on #477
@andrewsmedina when i'm puting this method to Windows class then django and flask client have access to this method.

[2020-09-08 21:19] andrewsmedina commented on #477
@szafran98 you can put the method in the `Windows` class inside the `webdriver` module: https://github.com/cobrateam/splinter/blob/master/splinter/driver/webdriver/__init__.py#L70

[2020-09-08 21:29] szafran98 commented on #477
@andrewsmedina but still when user initialize `browser = Browser("django")` and then if he type `browser.windows.current.new_tab('http://google.pl')` he will get error
[code]

[2020-09-10 01:42] andrewsmedina commented on #477
@szafran98 how the windows in not implemented in the `Django` driver, I believe that this expected behaviour for this driver.

[2020-09-10 08:40] Kcchouette opened #802 "Support version 0.27.0 of geckodriver"
Hello

I have originally splinter v0.14.0+geckodriver v0.26.0

I upgrade geckodriver to v0.27.0 and I have now this kind of error:

[code]

Do you have any idea where it comes from?

Cheers

[2020-09-10 21:20] LexaDS commented on #608
Do not know if this issue was solved, but what about the contains() function in XPath, might help with the whole partial text issue.

[2020-09-19 04:49] rouilj opened #808 "Splinter crashes when using screenshot with pillow with full=True"
I am trying to take a screenshot of the nav element with:
[code]
which should be pretty much the example in the docs (using css rather than xpath find).

Full traceback:

[code]
OS: Ubuntu 18.04.5 LTS
Python: 3.6.9
splinter: 0.14.0
Pillow: 7.2.0 (installed via pip after removing python3-pil package)

Two things to note about "nav":

   1) It is a column on the left hand side of the screen.
   2) I

[2020-09-19 16:47] rouilj opened #809 "Screenshot using firefox headless doen't see checkbox or radiobutton controls"
I am doing a full screen screenshot using:

[code]

The page includes checkboxes and radiobuttons but they are not shown in the screenshot.
I can interact with then using find_by_css/xpath and it doesn't matter if they are selected or not.

The browser instance is create with:
```Browser('firefox', headless=True)```

OS: Ubuntu 18.04.5 LTS
Python: 3.6.9
splinter: 0.14.0
Pillow: 7.2.0
Firefox: 80.0

[2020-09-19 18:57] jsfehler commented on #809
What happens if you run with headless turned off?

[2020-09-20 04:25] rouilj commented on #809
Hello Joshua:

Thanks for responding.

In message <cobrateam/splinter/issues/809/695344502@github.com>,
Joshua Fehler writes:

Sorry for the delay. Had to figure out how to log in and let it have a
display.

The screen captures display the controls if I run with a head. The
checkboxes are shown. However I am running this on a remote system
that doesn't have a head.

Also with a head, I am getting

[2020-09-21 14:39] jsfehler commented on #808
#810 will fix this issue

[2020-09-21 14:49] jsfehler commented on #809
Elements not appearing look more like a geckodriver/firefox issue than anything with splinter. We piggyback off selenium for taking the screenshot. Elements overlapping is a page-specific issue. Chromedriver currently appears not to respect window resizing, you'll have to resize the window using javascript.

[2020-09-21 20:35] rouilj commented on #808
Will #810 fix the SystemError as well?

[2020-09-22 16:51] jsfehler commented on #802
This is most likely a compatibility issue with your version of Firefox and version of geckodriver.

[2020-09-22 22:16] jsfehler commented on #808
Doubt it. If you can reproduce the issue on a publicly accessible web page then I can try to reproduce it locally.

[2020-09-23 15:01] rouilj commented on #808
In message <cobrateam/splinter/issues/808/697011580@github.com>,
Joshua Fehler writes:

With the attached script I get:

============================= test session starts ==============================
platform linux -- Python 3.6.9, pytest-6.0.2, py-1.9.0, pluggy-0.13.1 -- /usr/bi
n/python3
cachedir: .pytest_cache
rootdir: /home/rouilj/develop/splinter
collecting ... collected 1 item

demo_test.p

[2020-09-24 15:04] jsfehler commented on #314
Custom browser paths for chrome can be set via the Chrome Options object:

[code]

[2020-09-24 15:08] jsfehler opened #811 "Update documentation with custom binary path information"
ie: Update https://splinter.readthedocs.io/en/latest/drivers/chrome.html with

[code]

but for Firefox as well.

[2020-09-24 15:09] #314 closed

[2020-09-24 20:06] ketangupta34 commented on #811
I would like to work on this!

[2020-09-24 20:31] jsfehler commented on #811
@ketangupta34  Go for it

[2020-09-25 08:20] dependabot-preview[bot] opened #812 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/cobrateam) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/cobrateam/update-logs/48726431).

[2020-09-27 08:54] iandouglas opened #813 "Is it possible to use flask driver AND chrome at the same time?"
I really enjoy the flexibility of using both the Chrome driver and the Flask driver independently for various kinds of testing, but I'm curious if there's a way to have a test use both at the same time.

I'm trying to BDD my login with an OAuth provider (auth0.com), but I don't want to have to start running my app in another terminal window (plus I'm having a really hard time figuring out how to g

[2020-09-27 09:04] iandouglas commented on #813
The following seems to be a good start, but I'm curious if there's any better way to accomplish this?

[code]

[2020-09-27 17:20] andrewsmedina commented on #813
Currently, the way to do it is like you have done, instantiating two browsers.

[2020-09-28 08:16] #812 closed

[2020-10-01 02:53] rouilj commented on #808
In commit: https://github.com/cobrateam/splinter/commit/daa3ed97d7bd838fcc6cfe56f78f98f223971e76 a test of screenshotting an element is made using the body element. If you modify my test script to use the body rather than the nav element, it completes without error. My guess is some calculation for the bounding box for nav is wrong and the browser window is not being resized properly to encompass

[2020-10-01 03:04] rouilj commented on #808
Crud it looks like attachments to email don't get incorporated into the issue.
And I can't attach the file either. Failing processing. Let's try inlining it:

[code]

[2020-10-01 03:06] rouilj commented on #808
Does this work for upload.

[2020-10-01 03:08] rouilj commented on #808
Ok maybe this will work?

[demo_test_py.txt](https://github.com/cobrateam/splinter/files/5309268/demo_test_py.txt)

[2020-10-01 19:38] jsfehler commented on #808
@rouilj This issue is occurring because the `nav` element is larger than the size of the screen. The crop then fails because you can't crop something larger than the original image.

The `nav` element in your use case will always resize to be larger than the screen size. ie: It will always fail.

This isn't an issue with splinter or pillow, it's an issue with the element.

[2020-10-02 01:10] rouilj commented on #808
Hi Joshua:

In message <cobrateam/splinter/issues/808/702354948@github.com>,
Joshua Fehler writes:

Isn't that what full=True is supposed to fix? The test also fails with:

   ssp = browser.find_by_css("nav").first.screenshot(directory + '/ss_menu_', full=True)

as well. I thought full was supposed to resize the browser window to
encompass the whole element/page. I removed it from the example to
s

[2020-10-02 01:20] rouilj commented on #808
Ok here is the page screenshot I hope.

![page](https://user-images.githubusercontent.com/3751752/94878593-df379a00-042b-11eb-99e2-531353e85e5a.png)

[2020-10-02 01:51] jsfehler commented on #808
@rouilj I misunderstood the nature of why the element values were wrong, but I've discovered what's actually causing your issue. It's the 0px height on the nav element. You're trying to do a crop with 0 as the height and pillow can't handle that.

If you do: `browser.execute_script("document.getElementsByTagName('nav')[0].style.height = '1px';")` then it won't crash.

In your particular case, you'

[2020-10-02 03:26] rouilj commented on #808
Hi Joshua:

In message <cobrateam/splinter/issues/808/702484756@github.com>,
Joshua Fehler writes:

= '1px';")` then it won't crash.

Wow. I see the 0px height for nav in the chrome devtools computed
values tab. WTH. That sounds like a bug in chrome.  Firefox doesn't
show a computed height at all for nav which is also odd.

As you point out 'nav > div[role="navigation"]' has a non-zero
height. Why

[2020-10-02 15:40] #576 closed

[2020-10-02 15:41] #491 closed

[2020-10-06 14:47] jsfehler commented on #808
@rouilj CSS doesn't work like that. HTML is a markup language for documents, not a UI kit. Elements don't actually have a real width or height or any other CSS properties. You can have a child that's styled to be physically larger than the parent and that's fine. The parent conceptually contains the child, but physically it can be anywhere on the page if you style it.

At least, that's the way I u

[2020-10-06 14:47] #808 closed

[2020-10-06 14:48] #802 closed

[2020-10-06 15:03] Kcchouette commented on #802
I'll test again because I though I've been using latest firefox version...

[2020-10-07 00:16] rouilj opened #818 "Generate nicer error when screenshot is used on an element with 0 height (or width)."
In: https://github.com/cobrateam/splinter/issues/808#issuecomment-702506449 a solution to a crash
was discussed. The cause was screenshot was being used on an element that had a 0 dimension.

Script and full traceback are on #808 . Abbreviated error and location are:

[code]
at
[code]
It would be good to capture this error and see if splinter can determine of the height and/or width are 0.
In this

[2020-10-07 08:08] edelvalle opened #819 "lxmldriver writing wrong address during POST when form action is empty"
If you your current url is "/form" and you have this HTML:

[code]

The form does not get "posted" to "/form" but to "/form/" and when you don't have trailing slashes in your URL paths you get 404.

The problem is here in the LXML driver:

[code]

I think we should not be using `os.path.join` here because this is file system paths and is OS dependent, so windows you could get some backslashes. Use

[2020-10-14 19:26] rouilj opened #824 "Drag and drop highlighting text rather than dragging/dropping"
I am using [Sortable.js](https://github.com/SortableJS/sortablejs) to allow drag/drop ordering of rows in a table.
It uses the first cell in each row as a handle to trigger the drag.

If I try to drag the second row in the table to do a drag and drop onto the the handle of the 7th row,
the row doesn't move, instead a screenshot shows that all text in the table is highlighted.

I have attached a sc

[2020-10-16 02:11] jsfehler commented on #284
Implemented by #821

[2020-10-16 02:11] #284 closed

[2020-10-17 23:53] jsfehler commented on #191
WebDriverElement currently supports the select method, so closing this issue.

[2020-10-17 23:53] #191 closed

[2020-10-19 22:30] jsfehler commented on #602
@andrewsmedina Remote Webdriver already supports a headless mode by supplying an Options object with the correct parameters. I don't see a benefit to adding more arguments to the Remote class.

Instead, it would be better to implement a standardized Options object for splinter's webdrivers. The parsing of the browser name and handling the logic will be cleaner that way.

[2020-11-04 21:02] zupo opened #839 "The headless flag and Firefox 82"
Since upgrading Firefox from 81 to 82, the `headless` flag no longer runs Firefox headless. `MOZ_HEADLESS=1` still works, as a workaround.

Refs https://github.com/pytest-dev/pytest-splinter/pull/152

[2020-11-05 16:06] andrewsmedina opened #842 "splinter 0.15.0 release"

[2020-12-22 08:35] mohitdmak commented on #811
Is this issue open?

[2021-01-11 01:41] andrewsmedina commented on #811
@mohitdmak yes

[2021-01-11 04:26] mohitdmak commented on #811
ok, so do I need to be assigned this to work on it?

[2021-01-11 10:40] andrewsmedina commented on #811
@mohitdmak the assign is not necessary. a message here informing that you are working on this issue is enough.

[2021-01-11 23:31] andrewsmedina opened #852 "move from travis to github actions"
travis-ci.org was scheduled for shutdown Dec 31, 2020. So, we should use github actions as CI.

[2021-01-12 00:06] fsouza commented on #852
@andrewsmedina I can take care of that if you want or if you're not already working on it.

[2021-02-10 20:53] rg666 commented on #777
Hi,
Is this issue still up for fix? I'd like to.

[2021-02-11 01:06] jsfehler commented on #777
@rg666 Go for it.

[2021-02-12 13:55] rg666 commented on #777
Can you please assign to me.

[2021-02-12 17:13] rg666 commented on #777
PR [856](https://github.com/cobrateam/splinter/pull/856)provided, would you please review it? Thank you! @jsfehler

[2021-02-12 19:16] jsfehler commented on #777
@rg666 @medecau Item getters appear to already work. I'll gladly accept unit tests for those behaviours since it appears they go untested at the moment.

I don't see any compelling reason to add `.get` as a method to ElementAPI

[2021-02-12 19:28] rg666 commented on #777
Thank you for the review comments, it was my first PR. Ah, I was working on the review comments. If .get() method isn't required, please let me know. :) @jsfehler @medecau

[2021-02-12 19:42] jsfehler commented on #777
@rg666 I don't see any bugs involving item getters or missing functionality. I encourage you to write unit tests for the behaviour so we can verify they work. If the unit tests pass, I'll close this issue.

[2021-02-12 19:47] rg666 commented on #777
Noted.

[2021-02-13 17:59] medecau commented on #777
Okay.

[2021-02-13 17:59] #777 closed

[2021-03-07 00:00] jsfehler commented on #852
Fixed by #859

If there's any cleanup on travis-ci.org to do, I leave that to you.

[2021-03-07 00:00] #852 closed

[2021-03-07 21:15] andrewsmedina commented on #852
@jsfehler very nice work! 👏

[2021-03-09 11:59] thlengane opened #861 "mouse actions long_click and right_long_click"
How can I lock_click on an object? I can do **double_click** and **right_click** without any problem but I would like to **long_click** or **right_long_click**. Is there anything I can do to achieve this?

[2021-03-09 12:06] turicas commented on #808
This bug also affects me, but the fix wasn't released yet. Do you have plans to release it as 0.14.1 or 0.15.0 in the following days?

[2021-03-11 21:12] eiko opened #862 "add an alternative to find_by_text that looks at all inner text"
The current implementation of `find_by_text` uses the following xpath: `//*[text()="some text"]`, which only looks at the first text node within an element. This makes it difficult to query for elements with text split across multiple text nodes.

I think it would be useful to add an alternative that acts more like `element.textContent()`, querying against all inner text of an element rather than

[2021-03-21 14:24] jsfehler commented on #861
There's currently no splinter method for this, but you can use ActionChains directly.

https://www.selenium.dev/selenium/docs/api/py/webdriver/selenium.webdriver.common.action_chains.html#selenium.webdriver.common.action_chains.ActionChains.click_and_hold

[2021-03-21 14:24] jsfehler commented on #861
#

[2021-03-21 14:46] jsfehler commented on #862
This seems like something better served by an example in the documentation for now. Since it's essentially:

[code]

A well documented example scenario showing the limitations of `find_by_text` with a solution would be helpful to anyone facing the same situation.

[2021-03-22 19:34] thlengane commented on #861
@jsfehler I thought about that but the key_down/key_up methods take Keys, which is keyboard only if I am not mistaken. Is there a ways that I can send mouse keys on the key_down/key_up methods?

[2021-03-23 19:47] jsfehler commented on #861
I really don't know what you mean. The `click_and_hold` method I linked you to is exactly that.

[2021-03-31 18:58] #258 closed

[2021-03-31 19:05] #200 closed

[2021-03-31 19:09] #297 closed, assigned to nobody

[2021-03-31 19:12] jsfehler commented on #536
NightmareJS is dead: https://github.com/segmentio/nightmare/issues/1616

[2021-03-31 19:12] #536 closed

[2021-03-31 19:16] jsfehler commented on #518
Closing due to inactivity.

[2021-03-31 19:54] jsfehler commented on #362
This is more of a pythonanywhere question than a splinter question.

[2021-03-31 19:54] #362 closed

[2021-03-31 19:56] jsfehler commented on #621
Closing due to inactivity.

[2021-03-31 19:56] #621 closed

[2021-04-02 03:25] jsfehler commented on #197
Since #494, you can pass options to the Browser instance.

[2021-04-02 03:25] #197 closed

[2021-04-02 04:17] jsfehler commented on #705
This site in particular is using some nasty javascript to validate the form value. This isn't something selenium or splinter can solve for you.

[2021-04-02 04:17] #705 closed

[2021-04-02 17:57] #724 closed

[2021-04-06 19:19] jsfehler commented on #674
As of #873, we're now testing Firefox and Chrome Remote as part of the unit tests, and all of these methods pass.

[2021-04-06 19:19] #674 closed

[2021-04-06 19:24] jsfehler commented on #558
Closing, since this is a chromedriver issue and not a splinter issue.

[2021-04-06 19:24] #558 closed

[2021-04-06 19:36] #809 closed

[2021-04-06 21:25] #813 closed

[2021-04-06 23:06] jsfehler commented on #839
Closing since this isn't a splinter issue.

[2021-04-06 23:06] #839 closed

[2021-04-09 12:51] jsfehler commented on #551
This sounds like a Selenium and/or Geckodriver issue. Given the age of this issue and lack of specific details, I'm closing it.

[2021-04-09 12:51] #551 closed

[2021-04-21 22:05] zodman opened #876 "Support Shadow DOM or ShadowRoot"
here some references:

https://stackoverflow.com/questions/37384458/how-to-handle-elements-inside-shadow-dom-from-selenium

[code]

How convert outer to a ElementAPI ?

[2021-04-22 01:31] steskalja opened #877 "Support for EdgeChromium"
When will driver support be added for EdgeChromium? This is a big miss since EdgeChromium is on almost a billion devices.

[2021-05-18 15:09] stevelove commented on #862
I seem to have run into this also, where an HTML document had been built up like:
[code]

In order to search for a single term in the middle of that content, this is the only XPath selector I've been able to get working in Splinter: `//descendant::*/text()[contains(., "spread")]`.

I'm not an expert in XPath by any means, so it's possible there's a better selector; there were others that worked in

[2021-05-21 23:59] turicas opened #884 "Release 0.15.0?"
Are there any plans to release version 0.15.0 (or 0.14.1)?
There are many useful commits since 0.14.0, including from this PR #810, which fixes a bug.

[2021-05-25 14:19] strichter opened #886 "Add license declaration in setup.py"
Please add the `license="BSD"` classifier in setup.py. This way automated tools can extract the license type.

[2021-05-25 16:53] andrewsmedina commented on #884
@turicas is right. We need to make a new release. I will make a release this week.

[2021-05-26 04:36] RhnSharma commented on #886
I would like to take this one.

[2021-05-26 12:26] #886 closed

[2021-05-27 04:25] mo-han commented on #702
Just tried a simple workaround, which overrides `_assertAllowed` method to by-pass checking agains `zope.testbrowser.browser._allowed`, here's the code:

[code]

Now can `visit` any URL without `request disallowed` error.
But frankly `zope.testbrowser` cannot handle lots of site well, `visit` probably still failed for other reason. Personally speaking, firefox or chrome is better choice.

[2021-06-29 12:49] flavianmissi commented on #884
@andrewsmedina is there anything you need to make it happen?

[2021-06-30 23:18] andrewsmedina commented on #884
0.15.0 version released! https://github.com/cobrateam/splinter/releases/tag/0.15.0 - https://pypi.org/project/splinter/0.15.0/

[2021-06-30 23:18] #884 closed

[2021-06-30 23:22] turicas commented on #884
Thanks!

[2021-07-01 04:44] jsfehler commented on #307
Fixed by #799

[2021-07-01 04:44] #307 closed

[2021-07-01 04:48] #861 closed

[2021-07-10 18:04] jsfehler commented on #842
Fixed by the release of 0.15.0

[2021-07-10 18:04] #842 closed

[2021-07-19 18:46] #388 closed

[2021-07-19 18:52] jsfehler commented on #743
Fixed by #895

[2021-07-19 18:52] #743 closed

[2021-07-19 22:14] jsfehler commented on #139
Closing, since this isn't a splinter issue or something we can easily patch over.

[2021-07-19 22:14] #139 closed

[2021-07-19 22:23] jsfehler commented on #459
Closing due to lack of clarity and inactivity.

[2021-07-19 22:23] #459 closed

[2021-07-21 14:33] jsfehler commented on #252
Closing, since this isn't a splinter question.

General xpath questions are better answered on sites like StackOverflow.

[2021-07-21 14:33] #252 closed

[2021-07-21 17:20] jsfehler commented on #710
I can't reproduce this issue. This is probably an environment issue related to python, pip, and setuptools versions. Closing for now.

[2021-07-21 17:20] #710 closed

[2021-07-22 19:05] #819 closed

[2021-07-22 19:11] jsfehler commented on #775
Fixed by #900

[2021-07-22 19:11] #775 closed

[2021-07-22 21:53] jsfehler commented on #673
This sounds like a selenium and/or SAML and/or browser issue. I can't reproduce it using a trivial example.

[2021-07-22 21:53] #673 closed

[2021-07-22 21:59] jsfehler commented on #570
Dupe of #427

[2021-07-22 21:59] #570 closed

[2021-07-26 15:32] jsfehler commented on #231
The current documentation seems fine: https://splinter.readthedocs.io/en/latest/browser.html#managing-windows

@andrewsmedina You can re-open this ticket if there's something missing from the docs, but it looks fine to me.

[2021-07-26 15:32] #231 closed

[2021-07-29 16:57] burner1024 commented on #427
Sorry, could you provide a complete snippet of loading? I looked all lover, but can't find how to access selenium's `instal_addon` from Splinter API.

[2021-08-06 22:59] jsfehler commented on #877
Closed by #912

[2021-08-06 22:59] #877 closed

[2021-08-18 18:14] jsfehler commented on #163
Looks like this issue is already fixed: https://splinter.readthedocs.io/en/latest/browser.html#managing-windows

[2021-08-18 18:14] #163 closed

[2021-08-18 21:49] #324 closed

[2021-08-24 15:29] jsfehler commented on #477
Closed by #800

[2021-08-24 15:29] #477 closed

[2021-09-07 20:25] HinaSharma1 opened #920 "Not able to update the firefox preference"
Hi Team ,

Am using an automation framework based on python , selenium and splinter.
Usecase : I have an xpath - where the locator is href. When I find that xpath on my ui, i need to click it so that it opens up in a new tab.
Problem : For firefox, the xpath with the href link opens up in a new window. Which is not as expected.

What have I tried :
I tried to update the preference - ""browser.link

[2021-09-24 11:47] trojkat commented on #359
There is a workaround for Chrome to build on-fly an extension with all the proxy credentials and using it when starting the browser.
https://botproxy.net/docs/how-to/setting-chromedriver-proxy-auth-with-selenium-using-python/

[code]
then
[code]

[2021-10-11 02:14] rouilj commented on #920
Have you tried something like this in your test script when instantiating the browser?:

[code]
when you set up your test class?

[2021-10-13 15:39] slafs opened #929 "Splinter doesn't work with Selenium 4.0"
Selenium 4.0.0 was just released.
With the latest version there are apparently some API changes that Splinter doesn't handle well.

Our issue was `TypeError: __init__() got an unexpected keyword argument 'timeout'` on https://github.com/cobrateam/splinter/blob/253a6f21699a60651943bac11cf87a24da4d5a81/splinter/driver/webdriver/firefox.py#L71

[2021-10-14 13:35] Vishvesh-Kodihal commented on #201
Hey! I am interested in solving the issue

[2021-10-17 19:30] jsfehler commented on #201
@Vishvesh-Kodihal What company do you work for? Is anyone from your company willing/able to provide a testimonial?

[2021-10-17 22:07] jsfehler commented on #920
As of version 0.16.0, the Firefox browser now supports sending an Options object to the driver. eg:

[code]

[2021-10-18 04:05] HinaSharma1 commented on #920
great! Thankyou team! was able to make it work with the above steps.

[2021-10-19 02:50] walksonair commented on #929
how do I do that? Whenever I run pup upgrade it keeps getting splinter==0.15.0

[2021-10-19 08:07] slafs commented on #929
you can try `pip install --upgrade splinter` or `pip install "splinter>=0.16.0"`

[2021-10-21 19:23] tony opened #934 "`is_element_visible` raises `StaleElementReferenceException`"
This happens specially in frontend heavy apps where there is re-rendering.

As of #396, `is_text_present` + `is_text_not_present` has similar protection.

[code]

Similar: #450 #541

Splinter 0.14.0 ([source](https://github.com/cobrateam/splinter/blob/0.14.0/splinter/driver/webdriver/__init__.py#L323))

[2021-10-25 20:23] #323 closed, assigned to nobody

[2021-11-13 12:43] athulvis opened #945 "Sample code in Splinter Documentation doesn't work"
It has been noticed that the sample code given in [Splinter Documentation](https://splinter.readthedocs.io/en/latest/) is not updated according to change in Google Search. Currently when we run the code, it throw outs the following error:
[code]
This is evident that Google modified the search button name from  `btnG`  to `btnK`. This is rectified in the `index` file in GitHub, but not in the docum

[2021-12-01 02:35] jsfehler commented on #446
Fixed by #949

[2021-12-01 02:35] #446 closed

[2021-12-07 14:14] jsfehler commented on #265
Closing due to age. Phantomjs is no longer supported as of splinter 0.9.0.

[2021-12-07 14:14] #265 closed

[2021-12-07 16:00] blaise-io commented on #929
[0.16.0 pins `selenium<4`](https://github.com/cobrateam/splinter/blob/0.16.0/setup.py#L29) so that won't work.

This is unfortunate because [file uploads don't work on Selenium 3.x on Python 3.9](https://github.com/SeleniumHQ/selenium/issues/8762).

[2021-12-07 19:05] jsfehler commented on #929
@blaise-io 0.16.0's release pins selenium 3 in order to prevent dependency conflicts, it has nothing to do with getting selenium 4 to work.

Selenium 4 compatibility is coming soon-ish.

[2021-12-08 11:43] slafs commented on #929
Right, the workaround I mentioned is for installing Splinter with Selenium 3.x. Not for making Splinter work with Selenium 4.x. Just to be clear.

[2021-12-08 21:57] jsfehler commented on #929
Fixed by #963

[2021-12-08 21:57] #929 closed

[2021-12-18 09:41] return42 opened #969 "Please release 0.17.0 to PyPI"
Can you please update splinter on [PyPi](https://pypi.org/project/splinter/) / thanks a lot!

@andrewsmedina @jsfehler

[1] https://github.com/cobrateam/splinter/pull/964#issuecomment-996604899

[2021-12-20 19:37] jsfehler commented on #969
@andrewsmedina I've pushed the 0.17.0 release on github, all that's left is for you to build the wheel and push it to PyPi.

[2021-12-21 12:34] andrewsmedina commented on #969
I will do it today

[2021-12-22 15:04] andrewsmedina commented on #969
0.17.0 released! https://pypi.org/project/splinter/#history

[2021-12-22 15:10] return42 commented on #969
Cool / thanks a lot!

[2021-12-22 16:54] #969 closed

[2022-01-02 00:11] paulzzy opened #971 "Dependencies are not listed"
`pip install splinter` doesn't install the dependencies required by `splinter`. I think it's because `install_requires` in [setup.py](https://github.com/cobrateam/splinter/blob/3131074686255569ba14a6d342f6ac9593529181/setup.py#L28) is empty.

[2022-01-02 00:24] jsfehler commented on #971
As designed. Splinter supports either selenium 3 or 4, so neither can be specified as required. They're all listed in extras_require in setup.py.

@andrewsmedina The documentation has been updated to address this, but the latest version needs to be built on readthedocs.

[2022-01-10 13:51] pratimugale commented on #862
Hi, is this issue up for grabs?

[2022-01-17 18:11] #427 closed

[2022-01-22 02:56] jsfehler commented on #230
#992 Added tests which confirm this behaviour isn't occurring anymore.

[2022-01-22 02:56] #230 closed

[2022-01-22 02:57] jsfehler commented on #182
#992 Added tests which confirm this behaviour isn't occurring anymore.

[2022-01-22 02:57] #182 closed

[2022-01-27 20:18] jsfehler commented on #945
@andrewsmedina The relevant changes are merged in. If readthedocs is updated then this issue will be solved.

[2022-02-24 22:31] Berseck20 opened #1008 "Can't create a new tab in my browser"
hello, I am starting to use this framework and I want to start a browser, go to a url and then create a new tab.

when i try to do that i get the following error:

Traceback (most recent call last):
  File "d:\Usuario\Desktop\BotCreadosPorMi\testeodecosas.py", line 21, in <module>
    browserReddit.new_tab("https://smailpro.com")
  File "D:\python3910\lib\site-packages\splinter\driver\__init__.py"

[2022-03-18 17:37] niccolomineo opened #1012 "`pip-install`ing 0.17 installs 0.16"
Hi, I noticed that installing the current latest version actually installs the previous one.

This is the link to the archive:

https://github.com/cobrateam/splinter/archive/refs/tags/0.17.0.zip

The `splinter` dir contains the old version.

[2022-03-22 13:50] niccolomineo commented on #1012
I am still not receiving the latest updates. Are you going to make new release?

[2022-04-03 19:58] jsfehler commented on #668
Fixed by #1020

[2022-04-03 19:58] #668 closed

[2022-04-06 15:16] jsfehler commented on #287
Closing this issue due to age.

For future reference, the user agent for a remote webdriver instance can be set by passing in an Options object with the user-agent argument set.

[2022-04-06 15:16] #287 closed

[2022-04-06 15:43] #818 closed

[2022-04-09 22:16] jsfehler commented on #549
Closing, since this sounds more like a Selenium issue than a Splinter issue. The session ID of a remote WebDriver instance can be retrieved using Selenium's API.

[2022-04-09 22:16] #549 closed

[2022-04-10 05:55] jsfehler commented on #876
Shadow root support was added by #1025

[2022-04-10 05:55] #876 closed

[2022-04-11 09:20] deronnax commented on #945
Hello, what needs to be done for the readthedocs to be updated? it's been 4 months.

[2022-04-12 20:53] deronnax opened #1028 "transfer project ownership to jazzband"
Hello @jsfehler . Cobrateam seems dead and splinter does not see much activity.
Would you please consider transferring ownership to [Jazzband](https://github.com/jazzband/)? It's an organization of volunteer python maintainers specialized in the python ecosystem. I appreciate splinter and I would like for it to keep living.
Thank you very much.

[2022-04-12 22:32] jsfehler commented on #1028
@deronnax I'm not the maintainer of this repo, nor do I have the power to transfer ownership.

[2022-04-12 22:37] jsfehler commented on #1008
@Berseck20 A well formed issue should include the following:

- A reproducible example, formatted such that github displays it as a code block and preserves indentation.
- A full traceback

In this particular case, the answer is: You used `Firefox` as the name of the browser. The correct name is 'firefox'.

[2022-04-12 22:37] #1008 closed

[2022-04-13 10:57] deronnax commented on #1028
Hello. Thanks for your reply. Do you still have any contact with the original team?

[2022-04-17 13:06] fsouza commented on #1028
Hey @deronnax, thanks for opening this issue. I'm not totally familiar with jazzband, but I personally feel like having more collaborators/maintainers in the project would make more sense that simply moving it? And I think we should just have people continue to send pull requests and evolve into collaborators/maintainers. Is that too slow? Or is the idea that by being a project in jazzband splinte

[2022-04-19 18:14] andrewsmedina commented on #1028
Hi @deronnax, thanks for opening this issue.

What problem we want to solve to moving the splinter to jazzband organization? What is not working now that will work better after move this repo to jazzband org.

I have participated in a repo migration to jazzband, and this move has not change the engagement and contribution in that case.

I believe that will be nice to have more contributors and mor

[2022-04-20 00:05] jsfehler commented on #1028
I don't think jazzband is appropriate given the current state of the project.

Jazzband makes sense for projects that have many potential contributors but no maintainers for chores such as PR review and releases. It's an alternative to forking a dead project.

Splinter doesn't have enough active contributors to justify the move.

@andrewsmedina If you add me as a contributor on readthedocs and pyp

[2022-04-20 00:20] fsouza commented on #1028
Could we automate releases? Like, @jsfehler or another maintainer could push a tag and then GitHub Actions would push it to pypi and readthedocs?

[2022-04-20 02:48] andrewsmedina commented on #1028
@jsfehler to make a release what do you need is to be added in pypi and to run the `make release version=new-version`.  Please, pass in private your pypi account.

@fsouza I really don't know if there is a way to integrate this process with github action, but its is a very good idea.

[2022-04-21 09:06] deronnax commented on #1028
Could you also create a dedicated splinter Github organization with access to many people? I am afraid one day the people behind the Cobrateam organization just stop showing up (because they have gone to do other things in life) and the ownership of the project is lost with everybody locked out and the project de facto staled.

I have seen this *so many* times on Github.

[2022-04-21 15:00] fsouza commented on #1028
Who would those people be? We're not against adding people to cobrateam, but in general we'd want to add people who would be contributors/maintainers of the project, and it feels a bit weird to add people who have never contributed to the project as maintainers. I think the traditional path (third party contributor -> contributor -> maintainer) still applies and we should really only take action i

[2022-04-22 08:37] deronnax commented on #1028
The company owning the GitHub organization of splinter disappeared, that is why I opened the issue. I have seen so many Github projects dying when it happens because original developers walk away and access to the original Github organization is lost and the project itself get lost (original developers walked away without giving access to other people and everybody is locked out). You can fork but

[2022-04-22 08:41] deronnax commented on #1028
I want to emphasize that I really truly appreciate Splinter, that's what I opened the issue: I am seeing a dangerous pattern I have noticed many times before (the owning org died) and I don't want to see splinter stale and die. Btw I don't even to be a member of the new organization. That's it.

Btw cheers to you guys, thank you 1000 times for your awesome. Doing pure Selenium is awful, thanks god

[2022-04-25 19:48] andrewsmedina commented on #1028
@deronnax I understand your concerns, but I believe that the problem is when the maintainers stop to maintain the project and not with the organization itself.

I agree with @fsouza that changes the org, will not change the state of the project. And the state of the project is that Splinter has 3 maintainers (@fsouza, @jsfehler and me) and we are open for contributors and maintainers.

[2022-04-25 21:19] deronnax commented on #1028
Well then. I don't insist.

[2022-04-25 21:45] fsouza commented on #1028
Don't mean to drag on this, but I think there's some confusion here: cobrateam was never owned by any company. It was started by @andrewsmedina and other folks that never worked together in the same company and knew each other from the Python Brasil community.

There was a time where most of the members of the cobrateam organization worked at @globocom, but that company has never owned the org (an

[2022-05-03 02:48] iandouglas opened #1033 "Looking for help with Splinter running on WSL2, but to launch chrome on Windows"
I use Ubuntu 20 on the Windows Subsystem for Linux v2 (WSL2) on Windows 11.

I'd like to use Splinter to automate some browsing using my Windows-installed Chrome.

I have a Windows version of chromedriver installed, and running, but not sure how to tell my Splinter setup to use the chromedriver port on another system instead of using the chromedriver installed on Ubuntu 20. If possible, I'd like i

[2022-05-03 02:50] #1028 closed

[2022-05-03 03:00] fsouza commented on #945
Fixed the configuration for readthedocs. Sorry it took us so long.

[2022-05-03 03:00] #945 closed

[2022-05-05 18:14] walksonair opened #1036 "(selenium) UserWarning: find_elements_by_css_selector is deprecated"
Hello, didn't see an open issue on this so letting devs know about

`/usr/local/lib/python3.9/site-packages/selenium/webdriver/remote/webelement.py:502: UserWarning: find_elements_by_css_selector is deprecated. Please use find_elements(by=By.CSS_SELECTOR, value=css_selector) instead
  warnings.warn("find_elements_by_css_selector is deprecated. Please use find_elements(by=By.CSS_SELECTOR, value=css

[2022-05-05 18:43] jsfehler commented on #1036
This has been fixed on the master branch.

[2022-05-05 18:43] #1036 closed

[2022-06-10 10:30] blueyed opened #1044 "DeprecationWarning: firefox_profile has been deprecated, please use an Options object"
Using `Browser('firefox')` results in a DeprecationWarning:

[code]
Using selenium==4.2.0,

[2022-06-10 18:10] jsfehler opened #1047 "Release version 0.18.0 to pypi"
Release is tagged, just needs to be built and uploaded to pypi.

[2022-06-10 18:54] fsouza commented on #1047
I can take care of that later today.

@andrewsmedina @jsfehler any objections to automating this? Like, whenever we tag the repo, we'd run the command to upload it to pypi?

[2022-06-10 22:17] fsouza commented on #1047
Done: https://pypi.org/project/splinter/0.18.0/

We can track automation elsewhere.

[2022-06-10 22:17] #1047 closed

[2022-06-13 18:29] blueyed commented on #1044
Not sure if it is that easy, but came up with the following - but it seems like `profile_preferences` should not be mapped to `options` maybe!?

[code]

Also it might be wanted to keep the feature of having persistent profiles after all, at least in/via Splinter?!

[2022-06-16 09:19] blueyed opened #1050 "Clicking a checkbox should not submit the form"
Using a Django client, checkboxes are considered to be LxmlControlElements, where `click` then will submit the form:
https://github.com//cobrateam/splinter/blob/986ce0a10c52f08196b32b91f752182cb7517892/splinter/driver/lxmldriver.py#L421-L433

I've used `browser.find_by_id("id_foo").first.click()`.
The workaround is using `browser.check("foo")`.

[2022-06-16 17:03] jordanvance opened #1051 "Logging setup in browser.py clobbers other logging"
The logging in browser.py calls the root logger, which can cause unexpected changes to the setup and output in some testing environments. It would be preferable to have it log to something like:

[code]

[2022-06-16 19:45] blueyed opened #1052 "Unnecessary requirement of selenium with `from splinter import Browser`"
When using `from splinter import Browser` to only use e.g. `Browser("django")`, it fails without selenium being installed due to: https://github.com//cobrateam/splinter/blob/986ce0a10c52f08196b32b91f752182cb7517892/splinter/browser.py#L14

This is only used within https://github.com//cobrateam/splinter/blob/986ce0a10c52f08196b32b91f752182cb7517892/splinter/browser.py#L73-L85, and could be handled

[2022-06-16 19:45] blueyed commented on #971
Note that Selenium is not really required for e.g. the Django client, see https://github.com/cobrateam/splinter/issues/1052.

[2022-06-17 14:45] jsfehler commented on #1051
@jordanvance Good catch. Yes, not getting a logger just for splinter is a mistake.

@agroszer The reason this logging is set to the debug level is that it's only useful for debugging the splinter library. 99% of the time it's not useful information. The correct behaviour is to ignore missing but optional imports, so the log message would just be noise. When testing if splinter is working at all, h

[2022-06-17 15:49] #1052 closed

[2022-06-18 01:18] fsouza commented on #1051
Closed via #1054.

[2022-06-18 01:18] #1051 closed

[2022-06-20 11:20] agroszer commented on #1051
can we get a release please?

[2022-06-21 03:05] jsfehler commented on #1044
Fixed by #982

[2022-06-21 03:05] #1044 closed

[2022-06-22 16:06] blueyed opened #1059 "Submitting a form send inputs of type submit that were not clicked"
Serializing a form is meant to remove inputs of type submit, so that they are not sent: https://github.com//cobrateam/splinter/blob/c04a75dede7f314bba69a7ff188c147417647b12/splinter/driver/lxmldriver.py#L50-L60 (changed in https://github.com//cobrateam/splinter/commit/ad28ab4aeb56cde66a20e67cb3261324eecebeec (#611, for #595)).

However, since the change it will silently skip errors due to the elem

[2022-06-26 23:45] fsouza commented on #1051
Sorry completely missed this. @jsfehler should we push out a bugfix-release? Or should we wait for the next regular release?

[2022-06-27 21:18] fsouza commented on #1051
Sounds good I'll publish 0.18.1

[2022-06-28 00:50] jsfehler commented on #405
Closing this, since it's a selenium issue, not splinter. I don't think we can provide a simpler way than what's already available.

https://www.selenium.dev/selenium/docs/api/py/webdriver_remote/selenium.webdriver.remote.webdriver.html#selenium.webdriver.remote.webdriver.WebDriver.get_log

The above method is currently the correct way to get logs using selenium, but this may change with their BiDi

[2022-06-28 00:50] #405 closed

[2022-06-28 22:05] andrewsmedina commented on #1050
I believe that to move the submit to inside the `if self._control.get("type") == "submit":` [0] bloc will fix this bug.

[0] - https://github.com//cobrateam/splinter/blob/986ce0a10c52f08196b32b91f752182cb7517892/splinter/driver/lxmldriver.py#L424

[2022-07-06 21:16] #934 closed

[2022-07-06 21:18] jsfehler commented on #25
Closing this issue. Internet Explorer is very, very dead at this point. Microsoft hasn't supported it in years. Splinter supports Edge but that's as far as we can go.

[2022-07-06 21:18] #25 closed

[2022-07-11 19:49] rgilton opened #1068 "ModuleNotFoundError: No module named 'urllib3'"
New to using splinter, just pip installed into a venv, and get a `ModuleNotFoundError` when trying to import:

[code]

[2022-07-13 15:50] jsfehler commented on #1068
@rgilton Are you using splinter without selenium?

[2022-07-13 17:48] jsfehler commented on #1068
@rgilton I asked the question because the answer determines if the bug is a simple fix or not.

[2022-07-22 13:04] oliverdixon85 opened #1072 "Error in Docker Container, "unknown error: DevToolsActivePort file doesn't exist""
I'm trying to run a program in a Docker container using Splinter. Here is my Dockerfile

[code]
After creating the container and running my code in it I get the following error:

Traceback (most recent call last):
  File "/app/youversion_ingress.py", line 387, in <module>
    main()
  File "/app/youversion_ingress.py", line 375, in main
    books_df, grouped_df = books_chapter_count(exploded, max_

[2022-07-22 14:01] oliverdixon85 commented on #1072
I also just tried this Docker script and got another error.

[code]
New Error Message
selenium.common.exceptions.WebDriverException: Message: Service chromedriver unexpectedly exited. Status code was: 127

[2022-07-28 17:36] jsfehler commented on #1072
@oliverdixon85 These are chromedriver errors, so your issue isn't splinter related. There's nothing we can do from this side.

However, this is probably a permissions issue or a path issue. If chromedriver isn't in the system PATH, you can try specifying the path using a Service object:

https://www.selenium.dev/documentation/webdriver/getting_started/upgrade_to_selenium_4/#python-1

https://www.s

[2022-08-04 13:59] diemol opened #1079 "👋 From the Selenium project!"
At the Selenium Project we want to collaborate with you and work together to improve the WebDriver ecosystem. We would like to meet you, understand your pain points, and discuss ideas around Selenium and/or WebDriver.

If you are interested, please fill out the form below and we will reach out to you.
https://forms.gle/Z72BmP4FTsM1GKgE6

We are looking forward to hearing from you!

PS: Feel free t

[2022-08-04 14:57] #1079 closed

[2022-08-05 13:23] marcuxyz opened #1080 "attach_file work with flask?"
Hi,
I have a question.

`browser.attach_file` work with flask?
I've been trying to work with this for almost 1 month. :(

an error always happens when the redirect is done:
`ValueError: read of closed file `

Maybe... if do test with `return redirect` instead `return "|".join(buffer) `, this break:

https://github.com/cobrateam/splinter/blob/bd7b82161802f07a7f79e6b1e74557f4cf23d029/tests/fake_weba

[2022-08-05 17:35] jsfehler commented on #1080
@marcuxyz Can you provide the command you're using to run the tests, a full traceback, plus the operating system and python version you're using?

[2022-08-05 18:48] marcuxyz commented on #1080
@jsfehler I'm use python 3.10 and Mac OS Monterey.  `pytest` is the command used to run tests.

[2022-08-16 09:30] #1080 closed

[2022-09-01 02:16] MacroHongZ opened #1089 "Browser raise NoneType"
Code:
'''
from splinter import Browser

browser = Browser('chrome')
'''

result:
TypeError: 'NoneType' object is not callable

I can't find the reason

[2022-09-01 02:53] fsouza commented on #1089
@MacroHongZ do you have a stack trace?

[2022-09-02 15:03] andrewsmedina commented on #1089
@jsfehler what do you think about to create an issue to improve this error message to users know that is necessary to install selenium?

[2022-09-02 18:26] adamcheasley commented on #1089
@jsfehler thanks for confirming! Yes, +1 for a better error message there.

[2022-09-03 03:36] jsfehler commented on #1089
@andrewsmedina In the future we can check the driver name and return a more specific message. I've also updated the docs to make the installation process more obvious to new users.

[2022-09-14 02:45] MacroHongZ commented on #1089
@jsfehler
Thanks for your comment, the error is indeed due to Selenium not installed, but the error message is too ambiguous to find the cause. I would suggest that the doc could be updated to ：
“ pip install selenium
pip install splinter“

[2022-09-14 02:46] #1089 closed

[2022-09-22 08:14] Peliikan opened #1098 "Can´t find Iframe"
So I am trying to find an Iframe with splinter and I can find the first one with,

with browser.get_iframe('iframemodal') as iframe:
    iframe.do_stuff()

and instead of iframemodal I use index which is 0 and this works fine but when I press the box in that Iframe it opens another Iframe without a name or id and everytime the index order of that newly opened iframe changes so I cant use index aga

[2022-10-11 07:06] riddhikt commented on #1098
Hi,
Instead of using name or id try using xpath, something like this:
` with browser.get_iframe(browser.find_by_xpath('//*[@class="ABC"]').first) as iframe:`

[2022-10-23 05:40] ashwin0630 commented on #201
hey! I'm interested in working with this issue is this still open.

[2022-10-23 05:57] jaivanti commented on #204
Hi! I wanna contribute ....can I get more details regarding this